<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS DA MÚSICA |
    <span class="text-primary font-italic">MUSIC ONE-TO-ONE MEETINGS</span>
</h4>

<p class="mt-50 font-weight-bold">REGRAS | <span class="text-primary font-italic">RULES</span></p>
<ol class="text-justify">
    <li class="mt-20">
          Somente pessoas físicas e/ou jurídicas previamente credenciadas no <strong>Rio2C 2025</strong>, na categoria <strong>CREATOR</strong> ou <strong>INDUSTRY</strong> (“Participante”) poderá submeter seus projetos, artistas e/ou empresas para as Rodadas de Negócios de Música, no período de <strong>03 a 21 de fevereiro de 2025</strong>.
        <span class="text-primary font-italic">
            / Only legal entities registered for the <strong>Rio2C 2025</strong> in the <strong>CREATOR</strong> or <strong>INDUSTRY</strong> category (“Participant”) can submit projects for the Music One-to-One Meetings in the period from <strong>February 3rd to 21st, 2025</strong>.
        </span>
    </li>
    <li class="mt-20">
          Cada participante poderá selecionar até <strong>3 perfis de executivos (Players)</strong> e, a partir disto, selecionar <strong>5 empresas</strong> com os quais gostaria de realizar reuniões individuais.
        <span class="text-primary font-italic">
            / Each participant may select up to <strong>three executive profiles (Players)</strong> and, from these, choose <strong>five companies</strong> they would like to have individual meetings with.
        </span>
    </li>
    <li class="mt-20">
          Todas as empresas e executivos dos segmentos selecionados (“Players”) receberão a inscrição dos participantes e vão selecionar no mínimo <strong>4 (quatro) artistas, projetos e/ou empresas</strong> inscritas para realizar as reuniões individuais.
        <span class="text-primary font-italic">
            / All companies and executives in the selected segments (“Players”) will receive the participants' registrations and will choose at least <strong>four (4) artists, projects, and/or companies</strong> to hold individual meetings.
        </span>
    </li>
    <li class="mt-20">
          Todo Participante deve possuir a titularidade dos <strong>direitos de propriedade intelectual</strong> sobre os projetos, músicas, álbuns, shows, artistas, se aplicável, inscritos por seus representantes para as Rodadas de Negócios da Música do <strong>Rio2C</strong>, bem como todas as autorizações de terceiros com relação às obras eventualmente envolvidas no âmbito dos projetos.
        <span class="text-primary font-italic">
            / Each Participant must own the <strong>copyrights</strong> over the projects submitted by its representatives for the <strong>Rio2C</strong> Music One-to-One Meetings, in addition to holding all necessary authorisations from third parties in relation to any work used in the projects.
        </span>
    </li>
    <li class="mt-20">
          Inscrições com <strong>informações incompletas ou incorretas</strong> serão desconsideradas.
        <span class="text-primary font-italic">
            / Registration with <strong>incomplete or incorrect information</strong> will not be considered.
        </span>
    </li>
    <li class="mt-20">
          Somente poderão acessar a área de Rodadas de Negócios da música e realizar as reuniões até <strong>dois participantes</strong> que estiverem devidamente credenciados no <strong>Rio2C 2025</strong> nas categorias <strong>CREATOR</strong>, <strong>INDUSTRY</strong> ou <strong>DAY PASS</strong> (no dia da reunião) e que tiverem sido devidamente selecionados por um Player.
        <span class="text-primary font-italic">
            / Access to the Music One-to-One Meetings area and participation in meetings will be restricted to <strong>two representatives</strong> of Participants who are properly accredited in the <strong>CREATOR</strong>, <strong>INDUSTRY</strong> or <strong>DAY PASS</strong> category and have been duly selected by a Player.
        </span>
    </li>
    <li class="mt-20">
          As inscrições estão sujeitas à <strong>lotação do evento</strong>.
        <span class="text-primary font-italic">
            / Registrations are subject to <strong>event capacity</strong>.
        </span>
    </li>
    <li class="mt-20">
          Datas divulgadas para a realização da Rodada de Negócios são passíveis de <strong>alteração</strong> a exclusivo critério da organização do evento, podendo ser feitas a qualquer momento, não implicando direito a indenização ou reclamação de qualquer natureza.
        <span class="text-primary font-italic">
            / Above-mentioned dates for the One-to-One Meetings may be altered according to the event organization’s sole discretion criteria, implying no right to indemnity or complaint of any kind.
        </span>
    </li>
</ol>


<p class="mt-50 font-weight-bold">DA INSCRIÇÃO E SELEÇÃO | <span class="text-primary font-italic">SUBMISSION AND SELECTION</span></p>
<ol class="text-justify">
    <li class="mt-20">
           Ao clicar em “Enviar Projeto”, o responsável pela inscrição deverá concordar com o
        “Regulamento das Rodadas de Negócios da Música”, onde afirma estar ciente de que
        poderá haver projetos ou obras semelhantes e isenta o <strong>Rio2C</strong> e os Players de qualquer
        responsabilidade com relação a projetos/obras similares, excluindo o <strong>Rio2C</strong> e os Players
        de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre as
        ideias, temas e formatos apresentados nas Rodadas de Negócios.

        <span class="text-primary font-italic">
            By clicking on “Send
            Project”, the person in charge of registration must also agree with the “Terms for Project
            Submission”, where they confirm they are aware that there may be similar projects and
            hold <strong>Rio2C</strong> and the Players exempt from any responsibility as to similar projects, excluding
                 <strong>Rio2C</strong> and the Players from any judicial or extrajudicial demand involving the discussion of
            the rights over such projects.
            2. Após realizado o envio da inscrição, a mesma não poderá ser alterada. | After submission,
            the registration cannot be changed.
            DA PARTICIPAÇÃO | ATTENDANCE
            1. A agenda das Rodadas de Negócios do Rio2C estará disponível na plataforma online

        </span>
    </li>
    <li class="mt-20">
          Após realizado o envio da inscrição, a mesma não poderá ser alterada.
        <span class="text-primary font-italic">
            After submission,the registration cannot be changed.
        </span>
    </li>
</ol>


<p class="mt-50 font-weight-bold">DA PARTICIPAÇÃO | <span class="text-primary font-italic">ATTENDANCE</span></p>
<ol class="text-justify">
    <li class="mt-20">
           A <strong>agenda</strong> das Rodadas de Negócios do <strong>Rio2C</strong> estará disponível na plataforma online <strong>MyRio2C</strong> para os Participantes a partir do dia <strong>3 de maio de 2025</strong>. As Rodadas ocorrem <strong>PRESENCIALMENTE</strong> no <strong>Rio2C</strong> entre os dias <strong>28 a 30 de maio de 2025</strong>. Os horários e datas definidos na agenda são <strong>prioritários</strong> e não podem ser alterados pelo Participante.
        <span class="text-primary font-italic">
            / The <strong>Rio2C</strong> One-to-One Meetings schedule will be available on the <strong>MyRio2C</strong> online platform starting <strong>May 3, 2025</strong>. The Meetings will take place <strong>in person</strong> at <strong>Rio2C</strong> from <strong>May 28 to 30, 2025</strong>. The times and dates defined in the schedule are <strong>final</strong> and cannot be changed by the Participant.
        </span>
    </li>
    <li class="mt-20">
          Para as reuniões, os participantes aceitos e agendados devem realizar seu <strong>credenciamento</strong> ao menos <strong>1 (uma) hora antes</strong> de sua primeira reunião. É importante se identificar no balcão das Rodadas de Negócios da Música, no <strong>Creator Square</strong>, ao menos <strong>20 minutos antes</strong> de sua primeira reunião.
        <span class="text-primary font-italic">
            / For meetings, the representatives of accepted and scheduled projects must check in at least <strong>one (1) hour before</strong> their first scheduled meeting. It is important to check in at the One-to-One Meetings desk - <strong>Creator Square</strong>, at least <strong>20 minutes before</strong> the first meeting.
        </span>
    </li>
    <li class="mt-20">
          Os participantes selecionados podem contar com até <strong>2 representantes</strong> do projeto/artista/empresa, devidamente credenciados no <strong>Rio2C 2025</strong>. Cada reunião terá a duração máxima de <strong>20 minutos</strong>.
        <span class="text-primary font-italic">
            / Selected participants can have up to <strong>two representatives</strong> properly accredited at <strong>Rio2C 2025</strong>. Each meeting will have a maximum duration of <strong>20 minutes</strong>.
        </span>
    </li>
    <li class="mt-20">
          A inscrição para as Rodadas de Negócios da Música não garante a realização de reuniões, uma vez que os próprios <strong>Players</strong> selecionam as empresas/artistas/projetos mais adequadas aos seus perfis e interesses.
        <span class="text-primary font-italic">
            / Registration for the Music One-to-One Meetings does not guarantee meetings, as <strong>Players</strong> themselves select the companies, artists, and projects most suited to their profiles and interests.
        </span>
    </li>
    <li class="mt-20">
          O participante autoriza o <strong>RIO CREATIVE CONFERENCES LTDA.</strong>, sem quaisquer ônus e/ou encargos, a captar, fixar e utilizar a imagem, voz e interpretação relativos à sua participação nas Rodadas de Negócios e no <strong>Rio2C</strong>, nos meios, tecnologias e suportes materiais de livre escolha do <strong>RIO CREATIVE CONFERENCES LTDA.</strong>, para fins de utilização institucional, publicitária e/ou comercial, que destinar-se-ão a toda e qualquer modalidade de utilização existente prevista no art. 29 da Lei 9.610/98. A presente autorização será gratuita e ocorrerá pelo prazo de proteção autoral conferido pela Lei 9.610/98 à obra em que as imagens, vozes e interpretações artísticas serão utilizadas.
        <span class="text-primary font-italic">
            / The participant expressly authorizes <strong>RIO CREATIVE CONFERENCES LTDA.</strong>, without any encumbrances and/or charges, to capture, fix and use the image, voice and interpretation related to their participation in the One-to-One Meetings and <strong>Rio2C</strong>, using any means, technologies, and material formats of <strong>RIO CREATIVE CONFERENCES LTDA.’s</strong> choice for institutional, advertising, and/or commercial purposes. This authorization will be free of charge and will remain in force for the duration of copyright protection granted by Law 9.610/98 to the work in which the images, voices, and artistic interpretations will be used.
        </span>
    </li>
    <li class="mt-20">
          No ato da inscrição, o responsável por realizá-la deverá fornecer ao <strong>Rio2C</strong> apenas dados pessoais que sejam necessários e pertinentes para o cadastramento e participação do Participante no <strong>Rio2C</strong>, ou para outras finalidades que possuam conexão com o evento. Ao fornecer esses dados, o responsável pela inscrição declara e garante, por si e por terceiros, estar ciente de que os dados pessoais fornecidos serão tratados pelo <strong>Rio2C</strong> para as finalidades aqui mencionadas. A adesão ao presente Regulamento importa em um vínculo contratual entre o Participante e o <strong>Rio Creative Conferences</strong>, de modo que o tratamento de dados pessoais tem por fundamento o fato de ser necessário para a execução deste regulamento, nos termos do art. 7º, V da Lei Geral de Proteção de Dados Pessoais - <strong>LGPD (Lei Federal nº 13.709/2018)</strong>.
        <span class="text-primary font-italic">
            / When registering, the person responsible for carrying it out must only provide <strong>Rio2C</strong> with personal data that is necessary and relevant for the Participant's registration and participation in <strong>Rio2C</strong>, or for other purposes that are connected with the event. By providing this data, the person responsible for the registration declares and guarantees, by themselves and by third parties, that they are aware that the personal data provided will be processed by <strong>Rio2C</strong> for the purposes mentioned herein. Adherence to this Regulation implies a contractual bond between the Participant and <strong>Rio Creative Conferences</strong>, so that the processing of personal data is based on the fact that it is necessary for the execution of this regulation, pursuant to art. 7, V of the General Law for the Protection of Personal Data - <strong>LGPD (Federal Law No. 13,709/2018)</strong>.
        </span>
    </li>
    <li class="mt-20">
           O <strong>Rio2C</strong> se compromete a cumprir toda a legislação aplicável sobre segurança da informação, privacidade e proteção de dados pessoais, incluindo, mas não se limitando à <strong>LGPD</strong>, ao <strong>Marco Civil da Internet (Lei Federal nº 12.965/2014)</strong>, seu decreto regulamentador (<strong>Decreto nº 8.771/2016</strong>), e demais normas setoriais ou gerais sobre o tema.
        <span class="text-primary font-italic">
            / <strong>Rio2C</strong> undertakes to comply with all applicable legislation on information security, privacy, and protection of personal data, including, but not limited to, the <strong>LGPD</strong>, the <strong>Marco Civil da Internet (Federal Law No. 12,965/2014)</strong>, its regulatory decree (<strong>Decree No. 8,771/2016</strong>), and other sectorial or general rules on the subject.
        </span>
    </li>
    <li class="mt-20">
           O <strong>Rio2C</strong> adota práticas razoáveis e usuais de mercado para garantir a proteção de dados pessoais por ele tratados. No entanto, nenhuma medida de segurança, técnica ou administrativa, é insuscetível de falha ou violação, de modo que o <strong>Rio2C</strong> não será responsável por quaisquer incidentes de segurança causados por atos ilícitos de terceiros, bem como por danos decorrentes de culpa exclusiva do próprio titular dos dados pessoais ou de terceiros. Incentivamos os Participantes a adotarem medidas apropriadas para se proteger, como, por exemplo, não compartilhar seus respectivos logins e senhas, mantendo-os em ambiente de acesso restrito e seguro.
        <span class="text-primary font-italic">
            / <strong>Rio2C</strong> adopts reasonable and usual market practices to ensure the protection of personal data it processes. However, no security measure, technical or administrative, is insusceptible to failure or violation. Thus, <strong>Rio2C</strong> will not be responsible for any security incidents caused by unlawful acts of third parties, or for damages resulting from the sole fault of the data subject or third parties. We encourage Participants to adopt appropriate measures to protect themselves, such as not sharing their respective logins and passwords, and keeping them in a restricted and secure access environment.
        </span>
    </li>
    <li class="mt-20">
          Este Regulamento encontra-se disponível para download no site do <strong>Rio2C</strong>, cujo endereço eletrônico é: <strong>www.rio2c.com</strong>. As dúvidas decorrentes da interpretação deste Regulamento poderão ser esclarecidas, desde que enviadas para <strong>musica@rio2c.com</strong>.
        <span class="text-primary font-italic">
            / This Regulation is available for download on the <strong>Rio2C</strong> website at: <strong>www.rio2c.com</strong>. Doubts arising from the interpretation of this Regulation may be clarified by sending an email to <strong>musica@rio2c.com</strong>.
        </span>
    </li>
</ol>
