/*
    General 
*/

.list-unstyled ul {
    list-style-type: none;
    padding-left: 0;
}

.mt-10 {
    margin-top: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-50 {
    margin-top: 50px !important;
}

.kt-avatar .kt-avatar__holder.wh-200 {
    width: 200px;
    height: 200px;
}

table.image-side-text td {
    border: 0;
    padding: 0 0 0 5px;
}

    table.image-side-text td img {
        max-width: 50px;
        max-height: 50px;
    }

/*
    Footer
*/
.kt-footer {
    background-color: #333 !important;
}

section.footer p{
    color: #ccc;
    font-size: 11px;
}

section.footer .nav-item{
    min-width: 180px;
}

section.footer .nav-item .nav-link{
    color: #ccc;
    font-size: 16px;
}

section.footer .social-networks a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: #e92e22;
    margin-left: 2px;
}

.kt-header__brand-logo-default, .kt-header__brand-logo-sticky, .r2c-header-mobile__logo {
    height: 40px !important;
    width: 40px !important;
}

@media (max-width: 576px){
    section.footer .nav-item .nav-link{
        text-align: center; 
    }

    section.footer .nav-item{
        width: 100%;
    }

}


/*
    Login
*/
.r2c-login__logo {
    height: 80px;
    width: 80px;
}

.r2c-header__topbar {
    float: right;
}

a.r2c-login__footer-link, a.r2c-footer-link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline !important;
    background-color: transparent !important;
}

    a.r2c-login__footer-link:hover, a.r2c-footer-link:hover {
        color: rgba(255, 255, 255, 0.4) !important;
        text-decoration: underline !important;
    }


/*
    Browsing Mode
*/
.r2c-browsing-mode__row .r2c-disabled {
    background: #f7f8fa;
    pointer-events: none;
    opacity: 0.65;
}

.r2c-browsing-mode__row .kt-grid-nav__desc {
    min-height: 30px;
}


/*
    Datatables
*/
.dt-hide-column {
    display: none;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
}

/*
    Modal
*/

/* Fix background */
.modal-open {
    overflow: hidden !important;
}

.modal-bg-red .modal-content, .modal-bg-red .modal-content .modal-title {
    color: #fff !important;
    background-color: #fc0758 !important;
}


/*
    Form
*/
.form-optional-input {
    font-size: 0.8rem;
    color: #74788d !important;
    font-weight: normal !important;
}


/*
    Block UI
*/
.blockUI.blockOverlay.blockUIModal {
    z-index: 2000 !important;
}

.blockUI.blockMsg.blockPage.blockUIModal {
    z-index: 2011 !important;
}


/*
    Onboarding Wizard
*/
.kt-wizard-v2 .kt-wizard-v2__wrapper .kt-form {
    width: 100% !important;
    padding: 4rem 4rem 6rem !important;
}


/*
    Projects Wizard
*/
.kt-wizard-v3 .kt-wizard-v3__wrapper {
    padding: 0 !important;
}

.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form {
    width: 93% !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav-item[data-ktwizard-state="done"] .kt-wizard-v3__nav-body {
    color: #699313 !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav-item[data-ktwizard-state="done"] .kt-wizard-v3__nav-bar {
    background-color: #699313 !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item.myrio2c-projects-onboarding {
    flex: 0 0 25% !important;
}

/*
    Login page
*/
.kt-login__body {
    flex-direction: column !important;
    height:unset !important;
}

.kt-login__body .kt-iconbox {
margin-bottom: 80px;
}

/*
    weconnected
*/

.r2c-we-connected-banner {
    width: 100%;
    height: auto;
}