@using System.Globalization
@model PlataformaRio2C.Application.CQRS.Commands.UpdateOrganizationTargetAudiences
<div class="row">
    <div class="form-group col-md-6">
        @Html.ValidationMessage("OrganizationTargetAudiences", new { @class = "text-danger OrganizationTargetAudiences" })
        <div class="error">
            <span></span>
        </div>
        <div class="kt-section__content mt-3">
            <div class="kt-checkbox-list">
                @Html.EditorFor(m => m.OrganizationTargetAudiences)
            </div>
        </div>
    </div>
