/*
    General 
*/

.list-unstyled ul {
    list-style-type: none;
    padding-left: 0;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mt-85 {
    margin-top: 85px !important;
}

.kt-avatar .kt-avatar__holder.wh-200 {
    width: 200px;
    height: 200px;
}

table.image-side-text td {
    border: 0;
    padding: 0 0 0 5px;
}

    table.image-side-text td img {
        max-width: 50px;
        max-height: 50px;
    }

/*
    Footer
*/
.kt-footer {
    background-color: #333 !important;
}

section.footer p {
    color: #ccc;
    font-size: 11px;
}

section.footer .nav-item {
    min-width: 180px;
}

    section.footer .nav-item .nav-link {
        color: #ccc;
        font-size: 16px;
    }

section.footer .social-networks a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: #e92e22;
    margin-left: 2px;
}

.kt-header__brand-logo-default, .kt-header__brand-logo-sticky, .r2c-header-mobile__logo {
    height: 40px !important;
    width: 40px !important;
}

@media (max-width: 576px) {
    section.footer .nav-item .nav-link {
        text-align: center;
    }

    section.footer .nav-item {
        width: 100%;
    }
}


/*
    Login
*/
.r2c-login__logo {
    height: 80px;
    width: 80px;
}

.r2c-header__topbar {
    float: right;
}

a.r2c-login__footer-link, a.r2c-footer-link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline !important;
    background-color: transparent !important;
}

    a.r2c-login__footer-link:hover, a.r2c-footer-link:hover {
        color: rgba(255, 255, 255, 0.4) !important;
        text-decoration: underline !important;
    }


/*
    Browsing Mode
*/
.r2c-browsing-mode__row .r2c-disabled {
    background: #f7f8fa;
    pointer-events: none;
    opacity: 0.65;
}

.r2c-browsing-mode__row .kt-grid-nav__desc {
    min-height: 30px;
}


/*
    Datatables
*/
.dt-hide-column {
    display: none;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
}

table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #eeeeee !important;
}

    .dataTables_wrapper .dataTable .selected th, .dataTables_wrapper .dataTable .selected td {
        background-color: #e1e3e8 !important;
        color: #595d6e !important;
    }


/*
    Modal
*/

/* Fix background */
.modal-open {
    overflow: hidden !important;
}


/*
    Form
*/
.form-optional-input {
    font-size: 0.8rem;
    color: #74788d !important;
    font-weight: normal !important;
}


/*
    Block UI
*/
.blockUI.blockOverlay.blockUIModal {
    z-index: 2000 !important;
}

.blockUI.blockMsg.blockPage.blockUIModal {
    z-index: 2011 !important;
}


/*
    Pagination
*/
.kt-pagination .kt-pagination__links .kt-pagination__link--active span {
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    padding: 0 .2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
}

.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--first.disabled:hover,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--prev.disabled:hover,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--next.disabled:hover,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--last.disabled:hover {
    background: rgba(54, 108, 243, 0.1);
}

.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--first a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--prev a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--next a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--last a {
    color: #366cf3;
    font-weight: 900;
}

.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--first.disabled:hover a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--prev.disabled:hover a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--next.disabled:hover a,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--last.disabled:hover a {
    color: #366cf3;
}


/*
    Media
*/

.kt-userpic.my-userpic--43 img {
    width: 43px;
    height: 43px;
}

.kt-media.kt-media--circle span {
    border-radius: 50%;
}

.kt-media.kt-media--brand span {
    background: rgba(93,120,255,.1);
    color: #5d78ff;
}

.kt-media span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    color: #74788d;
    border-radius: 4px;
}

.kt-media span {
    width: 43px;
    height: 43px;
    font-size: 1.3rem;
}

.kt-media.kt-media--sm span {
    width: 27px;
    height: 27px;
    font-size: 0.8rem;
}


/*
    Datepicker
*/
.datepicker tbody tr > td span.disabled {
    color: #dedede !important;
}
.datepicker tbody tr > td.disabled {
    color: #dedede !important;
}


/*
    Timepicker
*/
.bootstrap-timepicker-widget table td input {
    width: 35px !important;
}

.bootstrap-timepicker-widget .bootstrap-timepicker-hour,
.bootstrap-timepicker-widget .bootstrap-timepicker-minute,
.bootstrap-timepicker-widget .bootstrap-timepicker-meridian,
.bootstrap-timepicker-widget .bootstrap-timepicker-second {
    border: 1px solid #e2e5ec !important;
    padding: 0.63rem 0rem !important;
}


/*
    Collaborator Select2
*/
.select2-result-collaborator {
    padding-top: 4px;
    padding-bottom: 3px
}

.select2-result-collaborator__avatar {
    float: left;
    width: 60px;
    margin-right: 10px
}

    .select2-result-collaborator__avatar img {
        width: 100%;
        height: auto;
        border-radius: 2px
    }

.select2-result-collaborator__meta {
    margin-left: 70px
}

.select2-result-collaborator__title {
    color: black;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px
}

.select2-result-collaborator__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px
}

/*
    Edition Counters
*/
.kt-widget20 .kt-widget20__content .kt-widget20__desc a {
    color: #74788d;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.25rem;
}
    .kt-widget20 .kt-widget20__content .kt-widget20__desc a:hover {
        color: #505361;
    }


/*
    Table scroll
*/
.table-body-scroll tbody {
    display: block;
    overflow-y: scroll;
}
    .table-body-scroll thead, .table-body-scroll tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }


/*
    Jquery MiniColors
*/
.minicolors-theme-bootstrap .minicolors-swatch {
    top: 5px !important;
}


/*
    MyRio2C Alert Box
*/
.myrio2c-alert-box-danger {
    width: 260px;
    height: 65px;
    left: 473px;
    top: 736px;
    background: rgba(253, 57, 122, 0.03);
    border: 1px solid #FD397A;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 20px;
}
.myrio2c-alert-box-danger span {
    font-size: 15px;
    color: #FD397A;
    font-weight: 600;
}


/*
    MyRio2C Evaluation Grade Box
*/
.myrio2c-evaluation-grade-box-sm {
    background: #FDFDFE !important;
}
    .myrio2c-evaluation-grade-box-sm .grade-label {
        font-size: 15px;
    }
    .myrio2c-evaluation-grade-box-sm .grade-vote {
        font-weight: bold;
        font-size: 15px;
    }

.myrio2c-evaluation-grade-box-lg {
    background: #FDFDFE !important;
    height: 65px !important;
    padding: 20px !important;
}
    .myrio2c-evaluation-grade-box-lg .grade-label {
        font-size: 15px;
    }
    .myrio2c-evaluation-grade-box-lg .grade-vote {
        font-weight: bold;
        font-size: 15px;
    }

.myrio2c-evaluation-grade-box-form {
    background: #FDFDFE !important;
    border: 1px solid #EBEDF2;
    min-height: 65px !important;
}