@*@{
    ViewBag.Title = "Usuário Desativado";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="form-account">
    <h2 class="form-account-heading">@ViewBag.Title</h2>
    <div class="login-wrap">
        <p class="">Sua conta está desativada, procure a administração!</p>
    </div>
</div>*@
