<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
-->
  <connectionStrings>
    <add name="PlataformaRio2CConnection" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Test;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ElmahConnectionString" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Test;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" 
         xdt:Transform="Insert" />
    <add name="SignalRConnection" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Test_SignalR;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" 
         xdt:Transform="Insert"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="test"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="AWSBucket" value="test.assets.my.rio2c.com"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="ProcessWebhookRequestsApiKey" value="5395ee38-8208-4f21-a9b2-b135d0ddeade"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SendUnreadConversationsEmailsApiKey" value="064d381f-0588-4ca5-b8c9-5ebd0078f9dd"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SendProjectsBuyersEvaluationsEmailsApiKey" value="10a0baec-29be-49e8-82ee-d0f5aa29fac1"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="MvcMailer.ToEmail" value="credenciamento@rio2c.com"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="MvcMailer.BccEmail" value="myrio2c@sof.to"
         xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"/>
    <machineKey validation="SHA1" decryption="AES" validationKey="92927BC6B2DA1463716FB56345C352FAAC92723D" decryptionKey="C0D683AE45A8D0BDC1C5AE8718A6DC438F628DB775EF6053B468004296295E2B" 
        xdt:Transform="Insert" />
  </system.web>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ElmahConnectionString" applicationName="MyRio2C" 
              xdt:Transform="Insert" />
    <errorMail from="noreply@rio2c.com" to="myrio2c@sof.to" subject="MyRio2C (Test) - Elmah detected an application exception" async="true" useSsl="true"
               xdt:Transform="Insert" />
  </elmah>
</configuration>