<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
-->
	<connectionStrings>
		<add name="PlataformaRio2CConnection" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Prod;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
			  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ElmahConnectionString" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Prod;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
			 xdt:Transform="Insert" />
		<add name="SignalRConnection" connectionString="Data Source=rio2c-sqlserver.cb5mokkxuw8r.us-east-1.rds.amazonaws.com;Initial Catalog=MyRio2C_Prod_SignalR;User ID=admin;Password=u-7JcerZR,otmC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
			 xdt:Transform="Insert" />
	</connectionStrings>
	<appSettings>
		<add key="Environment" value="prod"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="BaseUrl" value="https://my.rio2c.com"
		   xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="TalentsUrl" value=""
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="AWSBucket" value="assets.my.rio2c.com"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>

		<!-- Api Keys -->
		<add key="ProcessWebhookRequestsApiKey" value="5eaa1388-60f8-4a03-8673-6f4a3fcd2968"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SendUnreadConversationsEmailsApiKey" value="e6836061-208b-4d9a-8099-ddd6218f6b47"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SendProjectsBuyersEvaluationsEmailsApiKey" value="b4ac210f-b086-4f1b-a5de-7541e19683d0"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="CleanUpConnectionsApiKey" value="a66660a5-1039-45d7-906d-f8c0b13a12f0"
			 xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="CreateMusicBandApiKey" value="e98b2cba-ca66-4329-9d49-bab072aae186"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="CreateStartupApiKey" value="02f91295-96d9-474c-9667-f227b4d5be43"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="CreateCartoonProjectApiKey" value="821d1140-ff9a-488c-a6b2-712f33f6ea66"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SendProducerWelcomeEmailApiKey" value="af971621-8900-4bed-a6c3-adfe3c397e9e"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SendSpeakersReportApiKey" value="b5303250-464e-4e62-8886-d4ff0c9748e0"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="SyncInstagramPublicationsApiKey" value="1a719b53-c753-47c4-9c9d-79aeab30d2ca"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		
		<!-- Mvc Mailer-->
		<add key="MvcMailer.ToEmail" value=""
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="MvcMailer.BccEmail" value="credenciamento@rio2c.com"
			xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes(mode)"/>
		<machineKey validation="SHA1" decryption="AES" validationKey="048340E9329C7D4A63D0EDCB81A3C49FE124C521" decryptionKey="4F42E3DA3FE5789ECF8004E915494A96D585903C72DEFCF276BD3B5D3478169A"
			xdt:Transform="Insert" />
	</system.web>
	<elmah>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ElmahConnectionString" applicationName="MyRio2C"
				  xdt:Transform="Insert" />
		<errorMail from="noreply@rio2c.com" to="myrio2c@sof.to" subject="MyRio2C (Live) - Elmah detected an application exception" async="true" useSsl="true"
				   xdt:Transform="Insert" />
	</elmah>
</configuration>