@using PlataformaRio2C.Domain.Dtos
@model InnovationOrganizationTrackOptionGroupDto
@{
    ViewBag.Title = $"{Labels.Vertical} {Model.GroupName}";
}
@Html.Hidden("AggregateId", Model.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="InnovationTrackOptionGroupsMainInformationWidget" class="kt-portlet" style="min-height: 150px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Track Options Widget-->
        <div class="row">
            <div class="col-12">
                <div id="InnovationTrackOptionGroupsTrackOptionsWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Track Options Widget-->
    </div>
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/innovation.trackoption.groups.details.js")
    <script>
        jQuery(document).ready(function () {
            InnovationTrackOptionGroupsMainInformationWidget.init();
            InnovationTrackOptionGroupsTrackOptionsWidget.init();
        });
    </script>
}