@using PlataformaRio2C.Domain.Dtos
@model InnovationOrganizationTrackOptionGroupDto
@{
    ViewBag.Title = $"{Labels.Vertical} {Model.GroupName}";
}
@Html.Hidden("AggregateId", Model.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="InnovationTrackOptionGroupsMainInformationWidget" class="kt-portlet" style="min-height: 150px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Conferences Widget-->
        <!--<div class="row">
            <div class="col-12">
                <div id="TrackConferencesWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>-->
        <!--end:Conferences Widget-->
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/jquery-minicolors.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/jquery-minicolors.js")
    @Scripts.Render("~/bundles/js/innovation.trackoption.groups.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            InnovationTrackOptionGroupsMainInformationWidget.init();
            //TracksConferencesWidget.init();
        });
    </script>
}