@using PlataformaRio2C.Domain.Dtos
@model PillarDto
@{
    ViewBag.Title = $"{Labels.Pillar}  {Model.Pillar?.GetNameByLanguageCode(ViewBag.UserInterfaceLanguage)}";
}
@Html.Hidden("AggregateId", Model.Pillar.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="PillarMainInformationWidget" class="kt-portlet" style="min-height: 150px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Conferences Widget-->
        <div class="row">
            <div class="col-12">
                <div id="PillarConferencesWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Conferences Widget-->
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/css/jquery-minicolors.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/js/jquery-minicolors.js")
    @Scripts.Render("~/bundles/js/pillars.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            PillarsMainInformationWidget.init();
            PillarsConferencesWidget.init();
        });
    </script>
}