@model PlataformaRio2C.Domain.Dtos.ProjectDto
<div class="modal fade" id="UpdateBuyerCompanyModal" role="dialog" aria-labelledby="UpdateBuyerCompanyModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Labels.SendProjectsToPlayer
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="form-container">
                    @Html.Partial("Modals/UpdateBuyerCompanyForm")
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Close</button>
                @if (!Model.Project.IsFinished())
                {
                    <span class="kt-widget__desc">
                        <button type="button" class="btn btn-brand" onclick="ProjectsBuyerCompanyWidget.showFinishModal();">@Labels.SendToPlayers</button>
                    </span>
                }
            </div>
        </div>
    </div>
</div>