@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@model NegotiationDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var userAccessControlDto = ViewBag.UserAccessControlDto as UserAccessControlDto;
    var buyerAttendeeOrganizationDto = Model.ProjectBuyerEvaluationDto?.BuyerAttendeeOrganizationDto as AttendeeOrganizationDto;
    var sellerAttendeeOrganizationDto = Model.ProjectBuyerEvaluationDto?.ProjectDto?.SellerAttendeeOrganizationDto as AttendeeOrganizationDto;
    var projectDto = Model.ProjectBuyerEvaluationDto?.ProjectDto as ProjectDto;
    var companyDetailsUrl = Url.Action("Details", "Companies", new { Area = "", id = sellerAttendeeOrganizationDto?.Organization?.Uid });
}

<div class="kt-portlet__body pb-0">
    <div class="row">
        <div class="col-md-12">
            <div class="pb-4">
                <div id="FinishedNotice" class="d-none flex-column justify-content-center align-items-center" style="background-color: #48475B; min-height:300px;">
                    <div class="text-center">
                        <span class="text-white">@(Messages.MeetingFinished)</span>
                    </div>
                </div>
                <div id="LiberationNotice" class="d-none flex-column justify-content-center align-items-center" style="background-color: #48475B; min-height: 300px;">
                    <div class="kt-spinner kt-spinner--lg kt-spinner--danger"></div>
                    <div class="pt-4 text-center">
                        <span class="text-white">@(string.Format(Messages.RoomReleasedMinutesScheduledDate, "5"))</span>
                    </div>
                </div>
                <div id="MeetingIframeWidget" class="kt-portlet d-none" style="min-height: 325px; grid-area: 1/1;"></div>
            </div>
        </div>
    </div>
</div>