@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Statics
@using PlataformaRio2c.Infra.Data.FileRepository.Helpers
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<WeConnectPublicationDto>
@{
    DateTime date;
}
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                We Connected
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div id="weconnect-scroll" class="col-12 rio2c-scroll" style="height: 700px;">
                <div class="kt-timeline-v1 kt-timeline-v1--justified">
                    <div class="kt-timeline-v1__items">
                        <div class="kt-timeline-v1__marker"></div>
                        <div class="weconnect-publications-items">
                            @Html.Partial("Shared/_WeConnectPublications", Model.ToList())
                        </div>
                    </div>
                </div>
                <div class="row btn-loadMore d-none">
                    <div class="col kt-align-center">
                        <button type="button" class="btn btn-danger btn-pill" onclick="WeConnectWidget.loadMore();">
                            @Labels.LoadMore <i class="la la-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>