<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                We Connected
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body text-center">

        <img class="r2c-we-connected-banner" src="~/Assets/img/rio2cmarket-@(ViewBag.UserInterfaceLanguage).png" />
        @*<div class="embed-responsive embed-responsive-16by9">
            <p align="center"><iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DEmAn2QqkT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        </div>*@

    </div>
</div>