@model LoginViewModel
@{
    Layout = "~/Views/Themes/Metronic/_InternalError.cshtml";
    ViewBag.Title = Labels.Error;
}
<!--begin::Error-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(/assets/img/bg-3.jpg?20190829);">
    <div class="kt-error-v1__container">
        <h1 class="kt-error-v1__number">@(ViewBag.ErrorCode ?? "500")</h1>
        <p class="kt-error-v1__desc">
            @ViewBag.Message
        </p>
        <p class="kt-error-v1__desc"><a href="window.history.back();">@Labels.Back</a></p>
    </div>
</div>
<!--end::Error-->
@section Styles {
    @Styles.Render("~/bundles/css/errorCustomStyles.css")
}
@section Scripts {
}