@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities
@using System.Linq;

@model MusicProjectDto
@{
    var editionDto = ViewBag.EditionDto as EditionDto;
    var approvedAttendeeMusicBandsIds = ViewBag.ApprovedAttendeeMusicBandsIds as int[];
    var isThisMusicProjectApproved = approvedAttendeeMusicBandsIds.Contains(Model.AttendeeMusicBandDto.AttendeeMusicBand.Id);
}
<div class="kt-widget__details w-100">
    <div class="kt-widget__value text-center">

        @if (editionDto?.IsMusicProjectEvaluationOpen() == true)
        {
            <div class="col-md-12 justify-content-center" style="display: flex; align-items: center;">
                <span class="kt-widget__button">
                    <label class="btn btn-label-warning btn-sm">
                        <i class="fa fa-diagnoses mr-1"></i> @Labels.UnderEvaluation
                    </label>
                </span>
            </div>
        }
        else
        {
            <div class="col-md-12 justify-content-center" style="display: flex; align-items: center;">
                @{
                    var color = "warning";
                    var icon = "fa-diagnoses";
                    var text = Labels.UnderEvaluation;

                    if (isThisMusicProjectApproved)
                    {
                        color = "success";
                        icon = "fa-thumbs-up";
                        text = Labels.ProjectAccepted;
                    }
                    else
                    {
                        color = "danger";
                        icon = "fa-thumbs-down";
                        text = Labels.ProjectRefused;
                    }
                }
                <span class="kt-widget__button">
                    <label class="btn btn-label-@(color) btn-sm m-0">
                        <i class="fa @(icon) mr-1"></i> @text
                    </label>
                </span>

                <div class="card bg-gray ml-3">
                    <div class="card-body">
                        <div class="card-text h6">
                            <span>@Labels.Average</span>
                            <span><b>@(Model.AttendeeMusicBandDto.AttendeeMusicBand.Grade?.ToString() ?? "-")</b></span>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
