@model int
<div class="kt-portlet__head kt-portlet__space-x">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            <a class="kt-label-font-color-2" href="@Url.Action("Index", "Players", new { Area = "Innovation" })">
                @Labels.Players @Labels.InEditionYear.Replace("{0}", ViewBag.EditionDto.UrlCode.ToString())
            </a>
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <span class="kt-badge kt-badge--success kt-badge--lg kt-badge--rounded" style="width:100px;">@Labels.Startups</span>
    </div>
</div>
<div class="kt-portlet__body" style="position: relative; margin: 0 auto; padding: 7%;">
    <div class="odometer odometer_innovationplayerseditioncountodometerchart" id="InnovationPlayersEditionCountOdometerChart" style="font-size: 51px;"></div>
</div>