@using PlataformaRio2C.Domain.Dtos
@using PlataformaRio2C.Domain.Entities;
@using System.Globalization
@model AttendeeInnovationOrganizationDto
@{
    var objectiveOptions = ViewBag.InnovationOrganizationObjectivesOptions as List<InnovationOrganizationObjectivesOption>;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.PitchingParticipationObjectives
        </h3>
    </div>
    @*<div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="InnovationProjectsObjectivesWidget.showUpdateModal();">
                    <i class="flaticon2-edit"></i>
                </button>
            </div>
        </div>*@
</div>
<div class="kt-portlet__body">
    @if (objectiveOptions?.Any() == true)
    {
        <div class="kt-widget4 rio2c-scroll" style="max-height: 240px; ">
            @foreach (var objectiveOption in objectiveOptions.OrderBy(a => a.DisplayOrder))
            {
                var attendeeInnovationOrganizationTrackDto = Model.GetAttendeeInnovationOrganizationObjectiveByObjectiveOptionUid(objectiveOption.Uid);
                <div class="kt-widget4__item pt-2 pb-2">
                    @if (attendeeInnovationOrganizationTrackDto != null)
                    {
                        <div class="kt-widget4__pic kt-font-success">
                            <i class="la la-check"></i>
                        </div>
                    }
                    else
                    {
                        <div class="kt-widget4__pic kt-font-danger">
                            <i class="la la-close"></i>
                        </div>
                    }
                    <div class="kt-widget4__info">
                        <span class="kt-widget4__title">@objectiveOption.GetNameTranslation(CultureInfo.CurrentCulture.ToString())</span>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <span class="text-center">@string.Format(Messages.EntityNotAction, Labels.Tracks, Labels.FoundF)</span>
    }
</div>