<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalDeleteConfirmation" role="dialog" tabindex="-1" id="modalDeleteConfirmation" class="modal fade bs-example-modal-sm" style="display: none; color: black;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="text-center">Tem certeza que deseja excluir esse projeto?</h4>
            </div>

            <div class="modal-body">
                <p class="text-center text-danger bg-danger">Você irá perder o resgistro desse projeto.</p>
            </div>

            <div class="modal-footer ">
                <button data-dismiss="modal" class="btn btn-default pull-left" type="button">Cancelar</button>
                <a href="#" id="btn-trigger-delete" class="btn btn-success button-confirm pull-right">Confirmar</a>                
            </div>
        </div>
    </div>
</div>
<!-- modal -->
