<div aria-hidden="true" aria-labelledby="modalSavePlayersSelected" role="dialog" tabindex="-1" id="modalSavePlayersSelected" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismiss()"> <span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Labels.PlayersSelectedToEvaluation</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="alert alert-success">
                    @Texts.PlayersSavedSuccess
                </div>
            </div>
            <div class="modal-footer save-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">@Labels.Ok</button>
            </div>
        </div>
    </div>
</div>
