<script type="text/ng-template" id="modalWaitProcessSelectPlayer.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismiss()"> <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-warning">@Texts.WaitProcessingPlayerSelection</h3>
    </div>
</script>
