<h4 class="mt-50 text-center font-weight-bold">
    PITCHING INDUSTRY | INDUSTRY
    <span class="text-primary font-italic">
        PITCHING
    </span>
</h4>
<p class="mt-50">
    O <strong>Rio2C</strong> é um encontro de mentes criativas que se reúnem para vivenciar uma mistura única de conteúdos,
    apresentação de ideias, encontro de opiniões, ebulição de conexões e <i>networking</i> e a concretização de grandes e inovadores negócios,
    realizado pela Rio Creative Conferences Ltda. (CNPJ/ME: 26.079.220/0001-46) (“<u>R2C</u>”).
    A sessões de Pitching Insdustry têm objetivo de fomentar e proporcionar conexões do Ecossistema da
    Economia Criativa Nacional tornando-se referência no crescimento exponencial para negócios entre criadores de propriedade intelectual e o mercado audiovisual.<br />
    <i class="text-primary">
        <strong>Rio2C</strong> is a gathering of creative minds coming together to experience a unique blend of content,
        idea presentation, exchange of opinions, a surge of connections and networking, and the realization of significant and innovative business ventures,
        organized by Rio Creative Conferences Ltda. (CNPJ/ME: 26.079.220/0001-46) ("R2C").
        The Pitching Industry sessions aim to foster and facilitate connections within the National Creative Economy Ecosystem,
        becoming a benchmark for exponential growth in business between intellectual property creators and the audiovisual market.
    </i>
</p>
<p class="mt-30 font-weight-bold">
    <u>REGULAMENTO</u> |
    <span class="text-primary">
        <u>REGULATIONS</u>
    </span>
</p>
<p class="mt-30 font-weight-bold">
    DISPOSIÇÕES PRELIMINARES |
    <span class="text-primary">
        PRELIMINARY PROVISIONS
    </span>
</p>
<ul class="text-justify">
    <li class="mt-20">
        O presente Regulamento objetiva determinar as regras e condições para a participação no Evento Rio2C 2025 (“<u>Evento 2025</u>”),
        que será realizado entre os dias <strong>28 e 30 de maio de 2025</strong>
        especificamente para produtoras e players do mercado audiovisual participantes do Pitching Industry.
        Somente Pessoa Jurídica (CNPJ) previamente credenciada no <strong>Rio2C 2025</strong>, na categoria INDUSTRY <strong>(“<u>Participante</u>”)</strong>
        poderá submeter seus projetos para o pitching.<br />
        <span class="text-primary font-italic">
            This Regulation aims to establish the rules and conditions for participation in the Rio2C 2025 Event ("Event 2025"),
            which will take place from May 28th to May 30th, 2025, specifically for production companies,
            and players from the audiovisual market participating in the Pitching Industry.
            Only legal entities (CNPJ) previously accredited for Rio2C 2025 in the INDUSTRY category (“Participant”) may submit their projects for pitching.
        </span>
    </li>
</ul>
<ul class="text-justify">
    <li class="mt-20">
        O Pitching Industry é a exposição de propriedade intelectual por pessoa jurídica (CNPJ) produtor de conteúdo original. O objetivo é a conexão com o ecossistema presente no evento, formado por alguns dos principais executivos do mercado audiovisual, focando na exposição das obras apresentadas para potencializar as possibilidades de se transformarem em projetos audiovisuais. <br />
        <span class="text-primary font-italic">
            The Pitching Industry is an intellectual property showcase for legal entities (CNPJ) that produce original content. Its goal is to connect with the event's ecosystem, which includes some of the top executives in the audiovisual market, focusing on presenting works to enhance their chances of being developed into audiovisual projects.
        </span>
        <br /><br />
        1.2.1. As sessões de Pitching Industry terão duração de 12 minutos, sendo 5 de pitch e 7 para perguntas da Comissão Julgadora.<br />
        <span class="text-primary font-italic">
            1.2.1. The Pitching Industry sessions will last for 12 minutes, with 5 minutes for the pitch and 7 minutes for questions from the Judging Committee.
        </span>
        <br /><br />
        1.2.2. No total, serão até 24 obras escolhidas por uma Comissão de Seleção formada por produtores audiovisuais para apresentação presencial durante as datas do Rio2C 2025.
        <span class="text-primary font-italic">
            1.2.2. In total, up to 24 works will be selected by a Selection Committee composed of audiovisual producers for on-site presentation during the Rio2C 2025 dates.
        </span>
        <br /><br />
        1.2.3. As obras selecionadas serão separadas nos seguintes segmentos: ficção, animação, documentário/factual e reality show.
        <span class="text-primary font-italic">
            1.2.3. The selected works will be categorized into the following segments: fiction, animation, documentary/factual and reality show.
        </span>
    </li>
    <li class="mt-20">
        Por intermédio da inscrição, respeitados os termos e condições deste Regulamento, o Participante poderá se inscrever e apresentar sua obra à Comissão de Seleção do Rio2C, que apreciará todos e selecionará, dentre os inscritos, até 24 projetos a serem apresentados no Evento 2025. A inscrição dos projetos não garante a sua apresentação no Evento 2025.
        <br />
        <span class="text-primary font-italic">
            Through the registration, in compliance with the terms and conditions of this Regulation, participants may submit and present their work to the Rio2C Selection Committee, which will review all submissions and select up to 24 projects to be showcased at the 2025 Event. Submission of projects does not guarantee their presentation at the 2025 Event.
        </span>
    </li>
    <li class="mt-20">
        Ao realizar a inscrição, o Participante autoriza, sem quaisquer ônus e/ou encargos, a divulgação das suas informações gerais no catálogo e demais materiais de divulgação do evento. O R2C não divulgará dados específicos pertinentes ao negócio que possam comprometer a originalidade, direito autoral e/ou propriedade intelectual do mesmo.
        <br />
        <span class="text-primary font-italic">
            Ao realizar a inscrição, o Participante autoriza, sem quaisquer ônus e/ou encargos, a divulgação das suas informações gerais no catálogo e demais materiais de divulgação do evento. O R2C não divulgará dados específicos pertinentes ao negócio que possam comprometer a originalidade, direito autoral e/ou propriedade intelectual do mesmo.
        </span>
    </li>
    <li class="mt-20">
        Este Regulamento encontra-se disponível para download no site do Rio2C, cujo endereço eletrônico é:
        <a href="https://www.rio2c.com">www.rio2c.com</a>. As dúvidas decorrentes da interpretação deste Regulamento poderão ser esclarecidas,
        desde que enviadas para o endereço eletrônico do R2C: <strong>pitchingaudiovisual@rio2c.com</strong>
        <br />
        <span class="text-primary font-italic">
            This Regulations are available for download on the Rio2C website at the following electronic address: <a href="https://www.rio2c.com">www.rio2c.com</a>.
            Any doubts arising from the interpretation of this Regulation can be clarified by sending inquiries to the R2C email address:
            <strong><u>pitchingaudiovisual@rio2c.com</u></strong>
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        INSCRIÇÃO |
        <span class="text-primary">
            REGISTRATION
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        <strong><u>Período de Inscrição</u></strong>: As inscrições poderão ser realizadas a partir das 09h horas do dia <strong>03 de fevereiro de 2025</strong>,
        permanecendo disponíveis até às 18h do dia <strong>21 de fevereiro de 2025</strong> - ou até atingir o limite de 300 inscrições.
        <br />
        <span class="text-primary font-italic">
            <strong><u>Registration Period</u></strong>: Registrations can be made starting from <strong>
                9:00 AM on February 03, 2025,
                and will remain open until 6:00 PM on February 21, 2025
            </strong> - or until the limit of 300 subscriptions is reached.
        </span>
        <ul class="text-justify">
            <li class="mt-20">
                A inscrição no Pitching Industry é exclusiva para portadores das credenciais Industry.
                <br />
                <span class="text-primary font-italic">
                    Registration for the Pitching Industry is exclusive for Industry accreditations.
                </span>
            </li>
        </ul>
    </li>
    <li class="mt-20">
        <strong><u>Forma de Inscrição</u></strong>:O Participante deverá realizar a inscrição de sua Obra,
        fornecendo todas as informações exigidas no Formulário de Inscrição constante do <u>Anexo I</u>, no site do Rio2C acima indicado,
        submetendo as informações à análise e seleção da Comissão de Seleção do Evento 2025.
        <br />
        <span class="text-primary font-italic">
            <strong><u>Registration Method</u></strong>: Participants should register their
            work by providing all the required information in the Registration Form, as detailed in Annex I, on the aforementioned Rio2C website.
            The information will then be submitted for analysis and selection by the Selection Committee of the 2025 Event.
        </span>
    </li>
    <li class="mt-20">
        <strong><u>Disponibilização de informações</u></strong>: O preenchimento de todos os campos do Formulário de
        Inscrição é obrigatório para avaliação da Comissão de Seleção do Rio2C.
        A organização do evento poderá entrar em contato com o Participante para a obtenção de
        informações e esclarecimentos adicionais sobre as informações apresentadas no Formulário de Inscrição.
        <br />
        <span class="text-primary font-italic">
            <strong><u>Information Availability</u></strong>: Filling out all fields in the Registration Form is mandatory for the Rio2C Selection Committee's evaluation.
            The event organizers may contact the participant to obtain additional information and clarification about the details provided in the Registration Form.
        </span>
        <ul class="text-justify">
            <li class="mt-20">
                Uma vez realizada a inscrição, as informações não poderão mais ser alteradas pelo Participante.
                <br />
                <span class="text-primary font-italic">
                    Once the registration is completed, the participant will not be able to make any further changes to the information.
                </span>
            </li>
            <li class="mt-20">
                Ao realizar a inscrição, o participante autoriza, sem quaisquer ônus e/ou encargos, a divulgação das suas informações gerais no catálogo e demais materiais de divulgação do evento.
                <br />
                <span class="text-primary font-italic">
                    By completing the registration, the participant authorizes, without any costs or charges, the disclosure of their general information in the catalog and other promotional materials of the event.
                </span>
            </li>
        </ul>
    </li>
    <li class="mt-20">
        <strong><u>Requisitos de Inscrição</u></strong>:
        <br />
        <span class="text-primary font-italic">
            <strong><u>Registration Requirements</u></strong>:
        </span>
        <ul class="text-justify">
            <li class="mt-20">
                Cada CNPJ inscrito poderá inscrever até 3 (três) projetos no total dentro de um dos formatos propostos pelo Rio2C 2025;
                <br />
                <span class="text-primary font-italic">
                    Each legal entity participant may register up to three works in total within one of the formats proposed by Rio2C 2025;
                </span>
            </li>
            <li class="mt-20">
                Somente poderão ser inscritas obras que atenderem aos requisitos para participação no Pitching Industry. Projetos com informações incompletas ou incorretas serão desconsiderados;
                <br />
                <span class="text-primary font-italic">
                    Only works that meet the requirements for participation in the Pitching Industry can be registered. Projects with incomplete or incorrect information will be disregarded;
                </span>
            </li>
            <li class="mt-20">
                É responsabilidade exclusiva do participante a comprovação dos direitos autorais sobre a obra inscrita. O participante, neste ato, isenta o R2C de toda e qualquer responsabilidade em decorrência de eventual violação dos termos e condições de contratos celebrados entre o participante e/ou o titular dos direitos autorais e de propriedade intelectual com terceiros.
                <br />
                <span class="text-primary font-italic">
                    The participant is solely responsible for proving the copyright ownership of the registered work. By participating, the participant hereby releases R2C from any and all liability arising from any potential violation of the terms and conditions of contracts entered into between the participant and/or the copyright and intellectual property holder with third parties.
                </span>
            </li>
        </ul>
    </li>
    <li class="mt-20">
        Ao submeter o Projeto ao Rio2C, o Participante responsável pela inscrição concorda com o “Termo de Apresentação de Projetos”, e afirma estar ciente de que podem ser apresentados projetos semelhantes por outros Participantes, e isenta o R2C de qualquer responsabilidade com relação a projetos similares, excluindo o R2C de qualquer demanda judicial e/ou extrajudicial que envolva a discussão de direitos autorais sobre os Projetos.
        <br />
        <span class="text-primary font-italic">
            By submitting the Project to Rio2C, the participant responsible for the registration agrees to the 'Project Presentation Agreement' and acknowledges that similar projects may be presented by other participants. The participant releases R2C from any liability regarding similar projects, excluding R2C from any legal and/or extrajudicial claims involving the discussion of copyright rights over the Projects.
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        CURADORIA RIO2C – SELEÇÃO DE PROJETOS |
        <span class="text-primary">
            RIO2C CURATORSHIP  - PROJECT SELECTION
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        A seleção dos candidatos inscritos se dará sob o formato de curadoria, realizada exclusivamente pela Comissão de Seleção do Rio2C, considerando-se as diretrizes de curadoria do Evento 2025.
        <br />
        <span class="text-primary font-italic">
            The selection of registered candidates will take place in the form of curation, exclusively conducted by the Rio2C Selection Committee, considering the curation guidelines of the 2025 Event.
        </span>
    </li>
    <li class="mt-20">
        O critério de seleção dos projetos escolhidos para o Pitching Industry do evento será subjetivo e realizado pela curadoria do R2C, pautada nas informações apresentadas no Formulário de Inscrição.
        <br />
        <span class="text-primary font-italic">
            The criteria for selecting projects chosen for the Pitching Industry of the event will be subjective and carried out by the R2C curation, based on the information presented in the Registration Form.
        </span>
    </li>
    <li class="mt-20">
        Os participantes selecionados serão informados oficialmente do
        <strong>resultado da seleção <span class="bg-yellow">a partir do dia 2 de abril de 2025</span></strong>, através do e-mail cadastrado no momento da inscrição.
        <br />
        <span class="text-primary font-italic">
            The selected participants will be officially informed of the selection results starting from April 2, 2025, through the email registered at the time of registration.
        </span>
    </li>
    <li class="mt-20">
        Os membros da Comissão Julgadora não têm obrigação de estabelecer relação profissional/comercial com nenhuma das pessoas físicas ou jurídicas selecionadas, nem possuem obrigação de avaliá-las.
        <br />
        <span class="text-primary font-italic">
            The members of the Judging Committee are not obligated to establish a professional/commercial relationship with any of the selected individuals or entities, nor do they have an obligation to evaluate them.
        </span>
    </li>
    <li class="mt-20">
        A agenda de participação no Pitching Industry do <strong class="bg-yellow">Rio2C 2025</strong> será enviada para os selecionados
        através do email registrado no momento da inscrição. Os horários e datas definidos na agenda são prioritários e não podem ser alterados.
        <br />
        <span class="text-primary font-italic">
            The participation schedule for the Rio2C 2025 Pitching Industry will be sent to the 24 selected individuals through the email registered at the time of registration. The times and dates specified in the schedule are prioritized and cannot be altered.
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        CREDENCIAMENTO |
        <span class="text-primary">
            ACCREDITATION
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        Na data do Evento, os Participantes selecionados para o Pitching Industry deverão realizar a sua identificação com até 1 (uma) hora de antecedência do início da sessão do Pitching no Business Hall, na Cidade das Artes.
        <br />
        <span class="text-primary font-italic">
            On the event date, participants selected for the Pitching Industry must complete their identification process at least 1 (one) hour before the start of the pitching session at the Business Hall, in the City of Arts.
        </span>
    </li>
    <li class="mt-20">
        Em caso de não comparecimento no horário definido para a realização do Pitching, o Participante será considerado desistente e não será reagendada nova apresentação.
        <br />
        <span class="text-primary font-italic">
            If the Participant fails to appear at the designated time for the Pitching session, they will be considered to have withdrawn, and a new presentation will not be rescheduled.
        </span>
    </li>
    <li class="mt-20">
        A pessoa jurídica selecionada deverá adquirir 01 (uma) credencial INDUSTRY para cada participante por projeto selecionado. Caso o participante da obra selecionada queira que outra pessoa da equipe participe do Pitching (máximo de 02 pessoas por Pitching), a mesma terá que adquirir outra credencial INDUSTRY. A credencial INDUSTRY é pessoal e intransferível.
        <br />
        <span class="text-primary font-italic">
            The selected legal entity must purchase one (1) INDUSTRY credential for each participant per selected project. If the participant of the selected work wishes for another team member to join the Pitching session (maximum of two people per Pitching), an additional INDUSTRY credential will need to be purchased. The INDUSTRY credential is personal and non-transferable.
        </span>
    </li>
    <li class="mt-20">
        Cada participante selecionado deve arcar com os próprios gastos referentes a hospedagem e deslocamentos para participação no Pitching Industry. O R2C não se responsabiliza ou reembolsa nenhum dos participantes por estes gastos.
        <br />
        <span class="text-primary font-italic">
            Each selected participant must bear their own expenses related to accommodation and transportation for participation in the Pitching Industry. R2C is not responsible for or reimburses any of the participants for these expenses.
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        PROJETOS E JULGAMENTO |
        <span class="text-primary">
            PROJECTS AND JUDGMENT
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        Pitching Industry: A Comissão de Seleção escolherá até 24 (vinte e quatro) participantes para integrarem o Pitching Industry, que será realizado entre os dias 28 e 30 de maio de 2025, conforme cronograma descrito.
        <br />
        <span class="text-primary font-italic">
            Pitching Industry: A Comissão de Seleção escolherá até 24 (vinte e quatro) participantes para integrarem o Pitching Industry, que será realizado entre os dias 28 e 30 de maio de 2025, conforme cronograma descrito.
        </span>
    </li>
    <li class="mt-20">
        Todas as Obras selecionadas serão submetidas à avaliação da Comissão Julgadora, formado por membros do Mercado audiovisual.
        <br />
        <span class="text-primary font-italic">
            All selected works will be subjected to evaluation by the Judging Committee, comprising producers and players (executives from streaming platforms, distributors, aggregators, TV channels, etc).
        </span>
    </li>
    <li class="mt-20">
        Cada apresentação terá a duração máxima de 5 (cinco) minutos – já contando com todos os tipos de conteúdo (apresentação em power point, vídeo e demais mídias), que deverão ser apresentados em conjunto.
        <br />
        <span class="text-primary font-italic">
            Each presentation will have a maximum duration of 5 (five) minutes, including all types of content (PowerPoint presentation, video, and other media), which should be presented together.
        </span>
    </li>
    <li class="mt-20">
        Será disponibilizada uma televisão grande, com controle e microfone.
        O Participante deverá levar o material necessário e adequado à sua apresentação.
        Esse material deve ser enviado à organização do <span class="bg-yellow">Evento 2025</span> até o dia <strong class="bg-yellow">30 de abril de 2025</strong>.
        <br />
        <span class="text-primary font-italic">
            A large television with remote control and microphone will be provided.
            The participant should bring the necessary and suitable material for their presentation.
            This material must be sent to the organization of the 2025 Event no later than April 30th, <strong>2025</strong>.
        </span>
    </li>
    <li class="mt-20">
        A participação no Pitching Industry NÃO será remunerada a qualquer tempo e título.
        <br />
        <span class="text-primary font-italic">
            Participation in the Pitching Industry will NOT be remunerated at any time or under any circumstances.
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        DESCLASSIFICAÇÃO |
        <span class="text-primary">
            DISQUALIFICATION
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        O participante selecionado será desclassificado do Evento nos seguintes casos:
        <br />
        <span class="text-primary font-italic">
            The selected candidate will be disqualified from the Event in the following cases:
        </span>
        <ul class="text-justify">
            <li class="mt-20">
                Fornecimento de informação que não seja verdadeira;
                <br />
                <span class="text-primary font-italic">
                    Providing information that is not true;
                </span>
            </li>
            <li class="mt-20">
                Não fornecimento das informações necessárias obrigatórias para a realização do Pitching Industry no prazo estabelecido pela equipe de produção e organização;
                <br />
                <span class="text-primary font-italic">
                    Not providing the necessary mandatory information for the Pitching Industry within the timeframe established by the production and organizing team;
                </span>
            </li>
            <li class="mt-20">
                Não cumprimento, por parte da pessoa jurídica selecionada, do cronograma de horários fornecido pela equipe de produção e organização do Evento; e/ou
                <br />
                <span class="text-primary font-italic">
                    Not adhering to the schedule of timings provided by the production and organizing team of the Event by the selected legal entity;" and/or
                </span>
            </li>
            <li class="mt-20">
                Qualquer violação ao presente Regulamento, à legislação aplicável e/ou a direitos de terceiros.
                <br />
                <span class="text-primary font-italic">
                    Any violation of this Regulation, applicable laws, and/or the rights of third parties.
                </span>
            </li>
        </ul>
    </li>
    <li class="mt-20">
        Em caso de caso fortuito ou força maior, ou tempestades, greves e/ou impossibilidade de locomoção devidamente comprovadas, a equipe de produção e organização do evento irá analisar cada caso para decidir se o Participante permanecerá no evento e/ou se serão alterados o dia e/ou horário da apresentação.
        <br />
        <span class="text-primary font-italic">
            In case of fortuitous events, force majeure, storms, strikes, and/or proven impossibility of transportation, the production and organizing team of the event will analyze each case to decide whether the participant will remain in the event and/or if the day and/or time of the presentation will be altered.
        </span>
    </li>
</ul>
<p class="mt-30 font-weight-bold">
    <u>
        CRONOGRAMA |
        <span class="text-primary">
            TIMELINE
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        O presente Regulamento observará o seguinte Cronograma:
        <br />
        <span class="text-primary font-italic">
            This Regulation will follow the following Schedule:
        </span>
    </li>
</ul>
<table class="table table-lg table-responsive-lg table-border">
    <tbody>
        <tr class="bg-gray">
            <th class="border-dark border"><strong>DESCRIÇÃO | <span class="text-primary">DESCRIPTION</span></strong></th>
            <th class="border-dark border"><strong>PERÍODO | <span class="text-primary">DURATION</span></strong></th>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Inscrições | <span class="text-primary font-italic">Registrations</span></td>
            <td class="border-dark border">03 a 21/02 | <span class="text-primary font-italic"> Feb 3rd to 21st</span></td>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Avaliação | <span class="text-primary font-italic">Evaluation</span></td>
            <td class="border-dark border">24/02 a 23/03 | <span class="text-primary font-italic">Feb 24th to Mar 23th</span></td>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Divulgação da Seleção | <span class="text-primary font-italic">Selection Announcement</span></td>
            <td class="border-dark border">a partir de 02/04 | <span class="text-primary font-italic">From Apr 02nd</span></td>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Agenda | <span class="text-primary font-italic">Schedule</span></td>
            <td class="border-dark border">a partir de 28/04 | <span class="text-primary font-italic">From April 28th</span></td>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Envio de materiais de apresentação | <span class="text-primary font-italic">Presentation materials submission</span></td>
            <td class="border-dark border">Até 30/04 | <span class="text-primary font-italic">Until April 30th</span></td>
        </tr>
        <tr class="bg-gray">
            <td class="border-dark border">Evento Pitching Industry | <span class="text-primary font-italic">Pitching Industry Event</span></td>
            <td class="border-dark border">28/05 e 30/05 | <span class="text-primary font-italic">From May 28th to 30h</span></td>
        </tr>
    </tbody>
</table>
<p class="mt-30 font-weight-bold">
    <u>
        PROPRIEDADE INTELECTUAL CESSÃO DE DIREITO DE IMAGEM  |
        <span class="text-primary">
            INTELLECTUAL PROPERTY - IMAGE RIGHTS ASSIGNMENT
        </span>
    </u>
</p>
<ul class="text-justify">
    <li class="mt-20">
        Toda pessoa jurídica que fizer a inscrição de sua obra, deverá ser a titular dos direitos de propriedade intelectual relativos aos seus projetos inscritos, bem como deverá obter todas as autorizações de terceiros necessárias para a participação e apresentação dos projetos no Rio2C.
        <br />
        <span class="text-primary font-italic">
            Any legal entity registering a work must hold the intellectual property rights to the projects submitted and must also obtain all necessary third-party authorizations for participation and presentation of the projects at Rio2C.
        </span>
    </li>
    <li class="mt-20">
        Somente as pessoas que estiverem devidamente credenciadas pela equipe do <strong>Rio2C</strong> poderão
        acessar a área do Pitching Industry que fica no Business Hall.
        <br />
        <span class="text-primary font-italic">
            Only individuals duly accredited by the Rio2C team will have access to the Pitching Industry area located in the Businessa Hall.
        </span>
    </li>
    <li class="mt-20">
        <strong>O participante expressamente autoriza o Rio Creative Conferences Ltda., sem quaisquer ônus e/ou encargos, a captar, fixar e utilizar a imagem, voz e interpretação relativos à sua participação no Pitching Industry e no Rio2C nos meios, tecnologias e suportes materiais de livre escolha do Rio Creative Conferences Ltda., para fins de utilização institucional, publicitária e/ou comercial, que destinar-se-ão a toda e qualquer modalidade de utilização existente prevista no art. 29 da Lei 9.610/98. A presente autorização será gratuita e vigerá pelo prazo de proteção autoral conferido pela Lei 9.610/98 à obra em que as imagens, vozes e interpretações artísticas serão utilizadas</strong>.
        <br />
        <span class="text-primary font-italic">
            <strong>Participants expressly authorize Rio Creative Conferences Ltda., without any cost or charges, to capture, record, and use the image, voice, and performance related to their participation in the Pitching Industry and Rio2C, through means, technologies, and material supports of Rio Creative Conferences Ltda.'s free choice, for institutional, advertising, and/or commercial purposes, intended for any and all types of existing use as provided in article 29 of Law 9.610/98. This authorization will be free of charge and will be valid for the copyright protection period granted by Law 9.610/98 to the work in which the images, voices, and artistic performances will be used</strong>.
        </span>
    </li>
    <li class="mt-20">
        No ato da inscrição da obra, o responsável por realizá-la deverá fornecer ao R2C apenas dados pessoais que sejam necessários e pertinentes para o cadastramento e participação do Participante no Pitching Industry, ou para outras finalidades que possuam conexão com o evento.
        <br />
        <span class="text-primary font-italic">
            At the time of registering the work, the person responsible for it must provide R2C with only personal data that is necessary and relevant for the registration and participation of the participant in the Pitching Industry, or for other purposes connected to the event.
        </span>
        <ul class="text-justify">
            <li class="mt-20">
                <strong>Ao fornecer esses dados, o responsável pela inscrição declara e garante, por si e por terceiros, estar ciente que os dados pessoais fornecidos serão tratados pelo R2C para as finalidades aqui mencionadas</strong>.
                <br />
                <span class="text-primary font-italic">
                    By providing this data, the person responsible for the registration declares and guarantees, on their behalf and on behalf of third parties, to be aware that the personal data provided will be processed by R2C for the purposes mentioned here.
                </span>
            </li>
            <li class="mt-20">
                <strong>A adesão ao presente Regulamento importa em um vínculo contratual entre o Participante e o Rio Creative Conferences Ltda., de modo que o tratamento de dados pessoais tem por fundamento o fato de ser necessário para a execução deste regulamento, nos termos do art. 7º, V da Lei Geral de Proteção de Dados Pessoais - LGPD (Lei Federal nº 13.709/2018)</strong>.
                <br />
                <span class="text-primary font-italic">
                    The adherence to this Regulation implies a contractual relationship between the Participant and Rio Creative Conferences Ltda., so the processing of personal data is based on the fact that it is necessary for the execution of this regulation, in accordance with art. 7, V of the General Data Protection Law - LGPD (Federal Law No. 13,709/2018).
                </span>
            </li>
        </ul>
    </li>
    <li class="mt-20">
        O R2C se compromete a cumprir toda a legislação aplicável sobre segurança da informação, privacidade e proteção de dados pessoais, incluindo, mas não se limitando à LGPD, ao Marco Civil da Internet (Lei Federal nº 12.965/2014), seu decreto regulamentador (Decreto nº 8.771/2016), e demais normas setoriais ou gerais sobre o tema.
        <br />
        <span class="text-primary font-italic">
            R2C undertakes to comply with all applicable legislation regarding information security, privacy, and personal data protection, including, but not limited to, LGPD, the Civil Rights Framework for the Internet (Federal Law No. 12,965/2014), its regulatory decree (Decree No. 8,771/2016), and other sectoral or general norms on the subject.
        </span>
    </li>
    <li class="mt-20">
        O R2C adota práticas razoáveis e usuais de mercado para garantir a proteção de dados pessoais por ele tratados.
        No entanto, nenhuma medida de segurança, técnica ou administrativa, é insuscetível de falha ou violação,
        de modo que o <strong>R2C não será responsável por quaisquer incidentes de segurança causados por atos ilícitos de terceiros,
        bem como por danos decorrentes de culpa exclusiva do próprio titular dos dados pessoais ou de terceiros</strong>.
        Incentivamos os Participantes a adotarem medidas apropriadas para se proteger, como, por exemplo,
        não compartilhar seus respectivos logins e senhas, mantendo-os em ambiente de acesso restrito e seguro.
        <br />
        <span class="text-primary font-italic">
            R2C adopts reasonable and common market practices to ensure the protection of personal data it processes. However, no security measure, technical or administrative, is immune to failure or violation, so R2C will not be responsible for any security incidents caused by unlawful acts of third parties, as well as for damages resulting from the exclusive fault of the data subject or third parties. We encourage participants to adopt appropriate measures to protect themselves, such as not sharing their respective logins and passwords, keeping them in a restricted and secure environment.
        </span>
        <br />
        <p class="text-center mt-20"><strong>***</strong></p>
    </li>
</ul>
