@*<h5 class="text-center font-weight-bold">
        Regulamento de Participantes Rio2C 2022 |
        <span class="text-primary font-italic">
            Participants’ Regulation Rio2C 2022
        </span>
    </h5>*@
<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGRAS |
    <span class="text-primary font-italic">
        RULES
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Somente Pessoa Jurídica previamente credenciada no <span class="font-weight-bold">Rio2C 2022</span>, nas categorias INDUSTRY e INDUSTRY+ <span class="font-weight-bold">(“<u>Participante</u>”)</span> poderá submeter seus projetos para as Rodadas de Negócios, <span class="font-weight-bold">no período de 17 de janeiro de 2022 a 20 de fevereiro de 2022</span>. |
        <span class="text-primary font-italic">
            Only legal corporations registered for the <span class="font-weight-bold">Rio2C 2022</span> in the INDUSTRY and INDUSTRY+ categories <span class="font-weight-bold">(“<u>Participant</u>”)</span> can submit projects for the One-to-One Meetings in the period <span class="font-weight-bold">between January 17<sup>th</sup> - February 20<sup>rd</sup>, 2022</span>.
        </span>
    </li>
    <li class="mt-20">
        Cada <span class="font-weight-bold">Participante</span> poderá inscrever até <span class="font-weight-bold">3 (três) projetos</span>. Cada um dos projetos inscritos poderá ser enviado <span class="font-weight-bold">para avaliação de até 5 (cinco) empresas</span> inscritas nas Rodadas de Negócios (“Players”), a serem escolhidos pelo Participante. Caso o Participante opte pela inscrição de apenas <span class="font-weight-bold">1 (um) único projeto, este poderá ser inscrito 3 vezes</span> e a cada inscrição poderá ser enviado para avaliação de até 5 (cinco) Players diferentes. |
        <span class="text-primary font-italic">
            Each <span class="font-weight-bold">Participant</span> can submit up to <span class="font-weight-bold">3 (three) projects</span>. Each project may be <span class="font-weight-bold">sent to a maximum of 5 (five) companies</span> enrolled in the One-to-One Meetings (“Players”), of the Participant’s choice. In case the Participant decides to submit only <span class="font-weight-bold">1 (one) project, this project may be sent for evaluation a maximum of 3 (three) times</span> and each submission can be sent to up to 5 (five) different Players.
        </span>
    </li>
    <li class="mt-20">
        Todo Participante deve possuir a titularidade dos direitos de propriedade intelectual (incluindo tanto direitos autorais quanto de propriedade industrial) sobre os projetos inscritos por seus representantes para as Rodadas de Negócios do <span class="font-weight-bold">Rio2C</span>, bem como todas as autorizações de terceiros com relação às obras eventualmente envolvidas no âmbito dos projetos. |
        <span class="text-primary font-italic">
            Each Participant must own the copyrights over the projects submitted by its representatives for the <span class="font-weight-bold">Rio2C</span> One-to-One Meetings, in addition to holding all necessary authorisations from third parties in relation to any work used in the projects.
        </span>
    </li>
    <li class="mt-20">
        Projetos com informações incompletas ou incorretas serão desconsiderados. |
        <span class="text-primary font-italic">
            Projects with incomplete or incorrect information will not be considered.
        </span>
    </li>
    <li class="mt-20">
        Só poderão acessar a área de Rodadas de Negócios e participar das reuniões os representantes de Participantes que estiverem devidamente credenciados nas categorias INDUSTRY e INDUSTRY+. |
        <span class="text-primary font-italic">
            Only representatives from Participants registered in the INDUSTRY and INDUSTRY+ categories may have access to the One-to-One Meetings area to take part in the meetings.
        </span>
    </li>
    <li class="mt-20">
        As inscrições estão sujeitas à lotação do evento. |
        <span class="text-primary font-italic">
            In case the event reaches full capacity registrations will no longer be available.
        </span>
    </li>
    <li class="mt-20">
        Datas divulgadas para a Rodada de Negócios são passíveis de alteração à exclusivo critério da organização do evento, podendo ser feita a qualquer momento, não implicando direito à indenização ou reclamação de qualquer natureza. |
        <span class="text-primary font-italic">
            Above mentioned dates to the One-to-One Meetings may be altered according to the event organization’s sole discretion criteria, implying no right to indemnity or complaint of any kind.
        </span>
    </li>
</ol>
<!--end:: General Rules-->
<!--begin:: Player Executive Attendance-->
<p class="mt-50 font-weight-bold">
    DA INSCRIÇÃO E SELEÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        SUBMISSION AND SELECTION OF PROJECTS
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Todo projeto direcionado aos Players internacionais deverá obrigatoriamente estar em inglês. A tradução é de total responsabilidade do Participante. |
        <span class="text-primary font-italic">
            For foreign Players, all projects must be made available in English. The Participants shall be fully responsible for the translation.
        </span>
    </li>
    <li class="mt-20">
        Ao clicar em “Enviar Projeto”, o responsável pela inscrição do projeto deverá concordar com o “Regulamento das Rodadas de Negócios”, onde afirma estar ciente de que poderão haver projetos semelhantes e isenta o <span class="font-weight-bold">Rio2C</span> e os Players de qualquer responsabilidade com relação a projetos similares, excluindo o <span class="font-weight-bold">Rio2C</span> e os Players de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre as ideias, temas e formatos apresentados nas Rodadas de Negócios. |
        <span class="text-primary font-italic">
            By clicking on “Send Project”, the person in charge of registration must also agree with the “Terms for Project Submission”, where they confirm they are aware that there may be similar projects and hold <span class="font-weight-bold">Rio2C</span> and the Players exempt from any responsibility as to similar projects, excluding <span class="font-weight-bold">Rio2C</span> and the Players from any judicial or extrajudicial demand involving the discussion of the rights over such projects.
        </span>
    </li>
    <li class="mt-20">
        Após realizado o envio do projeto, o mesmo não poderá ser alterado. |
        <span class="text-primary font-italic">
            After submission, the project cannot be changed.
        </span>
    </li>
</ol>
<!--end:: Player Executive Attendance-->
<!--begin:: Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO |
    <span class="text-primary font-italic">
        ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        A <span class="font-weight-bold">agenda</span> das Rodadas de Negócios do <span class="font-weight-bold">Rio2C</span> estará disponível na plataforma online <span class="font-weight-bold">MyRio2C</span> para os Participantes <span class="font-weight-bold">a partir do dia 28 de março de 2022</span>. Para conferir a agenda, o Participante deverá acessar a plataforma online MyRio2C com seu login e senha. As Rodadas ocorrem entre os dias <span class="font-weight-bold">27 e 29 de abril de 2022 (versão presencial)</span> e entre os <span class="font-weight-bold">dias 2 e 6 de maio de 2022 (versão online)</span>. Os horários e datas definidos na agenda devem ser priorizados e não podem ser alterados pelo Participante. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">March 28<sup>th</sup>, 2022</span>, Participants will be able to check the <span class="font-weight-bold">agenda</span> for the One-to-One Meetings at <span class="font-weight-bold">Rio2C’s</span> online platform <span class="font-weight-bold">MyRio2C</span>. To check the agenda, the Participant must access the online platform with their login and password. The meetings shall take place between <span class="font-weight-bold">April 27<sup>th</sup> and 29<sup>th</sup>, 2022 (onsite version)</span> and between <span class="font-weight-bold">May 2<sup>nd</sup> and 6<sup>th</sup>, 2022 (online version)</span>. The times and dates that appear on the schedule forwarded must take precedence over other commitments and may not be changed by the Participant.
        </span>
    </li>


    <li class="mt-20">
        Para as <span class="font-weight-bold">reuniões presenciais</span>, os representantes dos projetos aceitos e agendados <span class="font-weight-bold">devem realizar seu credenciamento ao menos 1 (uma) hora antes de sua primeira reunião agendada.</span> É importante se identificar <span class="font-weight-bold">
            no balcão das Rodadas de Negócios ao menos 20 minutos antes de sua primeira reunião
        </span>. Para as reuniões subsequentes o proponente deverá <span class="font-weight-bold">
            comparecer nas salas de Rodadas de Negócios 10 minutos antes de cada rodada
        </span>.  |
        <span class="text-primary font-italic">
            The representatives of the selected projects with scheduled onsite meetings <span class="font-weight-bold">should complete their accreditation at least 1 (one) hour before their first meeting.</span> They must identify themselves at the One-to-One Meetings’ counter 20 minutes prior to their first meeting. For the following engagements, project representatives should arrive at the  <span class="font-weight-bold">
                One-to-One Meetings room 10 minutes before their scheduled time.
            </span>

        </span>
    </li>

    <li class="mt-20">
        Para as <span class="font-weight-bold">reuniões online </span>, os representantes dos projetos aceitos e agendados <span class="font-weight-bold">devem testar a conexão ao menos 30 (trinta) minutos antes da reunião agendada.</span> É importante se identificar <span class="font-weight-bold">
            na plataforma ao menos 10 minutos antes do início de cada reunião
        </span>.  |
        <span class="text-primary font-italic">
            For the <span class="font-weight-bold"> online One-to-one </span>, the representatives of the selected projects with scheduled meetings <span class="font-weight-bold">should test their connection at least 30 (thirty) minutes before their meeting.</span> It is important that project representatives arrive at the <span class="font-weight-bold">
                One-to-One Meetings room at least 10 minutes before their scheduled time.
            </span>

        </span>
    </li>

    <li class="mt-20">
        A apresentação de projetos para Players internacionais deve ser realizada no idioma do Player ou em inglês. |
        <span class="text-primary font-italic">
            Projects shall be presented to international Players in their native language or in English.
        </span>
    </li>

    <li class="mt-20">
        Cada reunião terá a duração máxima de 20 minutos. |
        <span class="text-primary font-italic">
            Each meeting will have a maximum duration of 20 minutes.
        </span>
    </li>
    <li class="mt-20">
        A inscrição dos projetos para as Rodadas de Negócios <span class="font-weight-bold">não garante a realização de reuniões</span>, uma vez que os próprios Players selecionam os projetos adequados aos seus perfis e interesses. |
        <span class="text-primary font-italic">
            Project submission to the One-to-One Meetings <span class="font-weight-bold">does not guarantee that any meetings will take place</span>, as the Players themselves select the projects that better suit their needs.
        </span>
    </li>
</ol>
<!--end:: Attendance-->
<!--begin:: Important Tip-->
<ul class="text-justify" style="list-style: none;">
    <li class="mt-40">
        <span class="font-weight-bold">Dica importante:</span> Faça uma seleção de players cuidadosamente. Os Participantes devem pesquisar o perfil das empresas de realizar a seleção final dos Players. |
        <span class="text-primary font-italic">
            <span class="font-weight-bold">Important tip:</span> Select Players carefully. Participants should research the companies before making the final selection.
        </span>
    </li>
</ul>
<!--end:: Important Tip-->
