@model LoginViewModel
@{
    Layout = "~/Views/Themes/Metronic/_InternalError.cshtml";
    ViewBag.Title = Labels.Enter;
}
<!--begin::Error-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(/assets/themes/metronic/media//error/bg1.jpg);">
    <div class="kt-error-v1__container">
        <h1 class="kt-error-v1__number">@(ViewBag.ErrorCode ?? "500")</h1>
        <p class="kt-error-v1__desc">
            @ViewBag.Message
        </p>
    </div>
</div>
<!--end::Error-->
@section Styles {
    @Styles.Render("~/bundles/css/errorCustomStyles")
}
@section Scripts {
}