@{ var activeEditions = ViewBag.ActiveEditions; }

@if (activeEditions.Count > 1)
{
    <div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="kt-tooltip" title="" data-placement="bottom">
            <span class="kt-header__topbar-icon">
                <div class="kt-header__topbar-item kt-header__topbar-item--langs" style="margin-right:100px;">
                    <div class="kt-header__topbar-wrapper" data-offset="10px,0px">
                        <div class="kt-header__topbar-icon">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Assets/themes/metronic/media/icons/svg/Tools/Calendar.svg" style="margin-right:5px;" />
                                    <span>@(ViewBag.EditionDto.Name)</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (var edition in activeEditions)
                                    {
                                        <a href="@Url.Action("SetEdition", "Home", new { Area = "", urlCode = edition.UrlCode, returnUrl = Request.Path })" class="dropdown-item">
                                            <span class="kt-nav__link-text">@(edition.Name)</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
}