<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer" style="background-image: url('/Assets/themes/metronic/media/bg/bg-2.jpg');">
    <!--begin::Footer Top-->
    <div class="kt-footer__top">
        <div class="kt-container ">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-sm-12">
                    <div class="row justify-content-around">
                        <div class="col-md-auto col-sm-12 iconsRodape">
                            <div class="redes">
                                <img src="http://www.rio2c.com/img/rio2c-rcm-mobile.png" alt="" style="width: 225px;"><br><br>
                                <a href="https://www.facebook.com/Rio2C/" target="_blank"><img src="http://www.rio2c.com/img/icon-facebook.png" alt=""></a>
                                <a href="https://www.instagram.com/rio2c/" target="_blank"><img src="http://www.rio2c.com/img/icon-instagram.png" alt=""></a>
                                <a href="https://twitter.com/rio2c_" target="_blank"><img src="http://www.rio2c.com/img/icon-twitter.png" alt=""></a>
                                <a href="https://www.linkedin.com/company/rio2c" target="_blank"><img src="http://www.rio2c.com/img/icon-linkedin.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-auto col-sm-5 offset-md-2 offset-sm-2 links1">
                            <ul>
                                <li><strong><a href="http://www.rio2c.com/o-evento">O EVENTO</a></strong></li>
                                <li><a href="http://www.rio2c.com/2019/">Rio2C 2019</a></li>
                            </ul>
                        </div>
                        <div class="col-md-auto col-sm-4 links1">
                            <ul>
                                <li><strong>IMPRENSA</strong></li>
                                <li><a href="http://www.rio2c.com/imprensa">Assessoria</a></li>
                                <li><a href="http://www.rio2c.com/noticias">Notícias</a></li>
                                <li><a href="https://www.flickr.com/photos/rio2c/albums" target="_blank">Fotos Divulgação</a></li>
                            </ul>
                        </div>
                        <div class="col-md-auto col-sm-5 offset-md-0 offset-sm-2 links2">
                            <ul>
                                <li><strong><a href="maillto:contato@rio2c.com">Fale Conosco</a></strong></li>
                                <li><a href="mailto:comercial@rio2c.com">Comercial</a></li>
                                <li><a href="mailto:curadoria@rio2c.com">Curadoria</a></li>
                                <li><a href="mailto:credenciamento@rio2c.com">Credenciamento</a></li>
                                <li><a href="mailto:marketing@rio2c.com">Marketing </a></li>
                                <br>
                                <li><a href="http://www.rio2c.com/pdf/Rio2C-Codigo-de-Etica-Profissional-e-Politica-de-Conduta.pdf" target="_blank">Código de Ética</a></li>
                            </ul>
                        </div>
                    
                    </div>
                    <div class="frase">
                        Rio2C®, Rio Creative Conference®, RioContentMarket®, PitchingShow®, BrainSpace®, Festivalia®, são marcas registradas. Todos os direitos de uso pertencem a Rio Creative Conferences Ltda.,
                        CNPJ: 26.079.220/0001-46. Qualquer uso sem autorização dos nomes ou suas variações é uma violação da lei internacional de registro de marcas.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Footer Top-->
    <!--begin::Footer Bottom-->
    <div class="kt-footer__bottom">
        <div class="kt-container ">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <a class="kt-header__brand-logo" href="@Url.Action("Index", "Home", new { Area = "" })">
                        <img alt="Logo" src="~/Assets/themes/metronic/media/logos/logo-4-sm.png" class="kt-header__brand-logo-sticky">
                    </a>
                    <div class="kt-footer__copyright">
                        2019&nbsp;&copy;&nbsp;
                        <a href="http://www.rio2c.com" target="_blank">Rio2C</a>
                        and
                        <a href="http://sof.to" target="_blank">Softo</a>
                    </div>
                </div>
                <div class="kt-footer__menu">
                    <a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a>
                    <a href="http://keenthemes.com/metronic" target="_blank">Team</a>
                    <a href="http://keenthemes.com/metronic" target="_blank">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Footer Bottom-->
</div>