@{
    Layout = "~/Views/Themes/Metronic/_Internal.cshtml";
}
@section Head {
    @RenderSection("Head", required: false)
}
<div class="row">
    <!--begin:Left panel-->
    <div class="col-md-3 col-lg-3">
        @{ Html.RenderPartial("~/Views/Themes/Metronic/SideMenu.cshtml"); }
    </div>
    <!--end:Left panel-->
    <!--begin:Right panel-->
    <div class="col-md-9 col-lg-9">
        @RenderBody()
    </div>
    <!--begin:Right panel-->
</div>
@section Styles {
    @RenderSection("Styles", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}