@{
    Layout = "~/Views/Themes/Metronic/_Layout.cshtml";
    ViewBag.LayoutBodyStyle = string.Empty;
    ViewBag.LayoutBodyClass = "kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading";
}
@section Head {
    @RenderSection("Head", required: false)
}
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
            @RenderBody()
        </div>
    </div>
</div>
<!-- end:: Page -->
<!-- begin::Quick Panel -->
@{ Html.RenderPartial("~/Views/Themes/Metronic/_QuickPanel.cshtml"); }
<!-- end::Quick Panel -->
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->
@*<!--Begin:: Chat-->
@{ Html.RenderPartial("~/Views/Themes/Metronic/_Chat.cshtml"); }
<!--ENd:: Chat-->*@
@section Styles {
    @RenderSection("Styles", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}