@using System.Globalization
@{
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentUICulture;
}
<div class="kt-header__topbar-item kt-header__topbar-item--langs">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
        <span class="kt-header__topbar-icon">
            <img class="" src="~/Assets/themes/metronic/media/flags/@(CultureHelper.GetCultureFlagImage(currentCulture.Name))" alt="@(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(currentCulture.NativeName))" />
        </span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
        <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
            @foreach (var culture in CultureHelper.Cultures)
            {
                var listCulture = new CultureInfo(culture);
                var nativeName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(listCulture.NativeName);

                <li class="kt-nav__item"> @*kt-nav__item--active*@
                    <a href="@Url.Action("SetCulture", "Home", new { culture, returnUrl = Request.Path.Replace("/" + currentCulture.Name.ToLowerInvariant(), string.Empty) })" class="kt-nav__link">
                        <span class="kt-nav__link-icon"><img src="~/Assets/themes/metronic/media/flags/@(CultureHelper.GetCultureFlagImage(listCulture.Name))" alt="@(nativeName)" /></span>
                        <span class="kt-nav__link-text">@(nativeName)</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>