<h5 class="text-center font-weight-bold">
    Regulamento de Players Rio2C 2025 |
    <span class="text-primary font-italic">
        Players Regulations Rio2C 2025
    </span>
</h5>
<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGULAMENTO GERAL DE INSCRIÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        GENERAL PROJECT REGISTRATION REGULATIONS
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        O executivo inscrito para representar a empresa
        (“<u>Players</u>”) nas Rodadas de Negócios terá acesso aos projetos de pessoa(s) jurídica(s) previamente credenciada(s) na categoria INDUSTRY
        (“<u>Participants</u>”), inscritas em período determinando em regulamento via plataforma online do
        <strong>Rio2C</strong>.
        Cada Participante poderá inscrever até 3 (três) projetos e   enviar cada projeto para até 5 (cinco) Players.
        O acesso aos projetos e sua <strong>avaliação</strong> pelo Player ocorrem entre os dias
        <strong>3 de fevereiro até o dia 23 de março de 2025</strong>.
        <span class="text-primary font-italic">
            / The executive registered to represent the company (“Player”) in the Business Rounds will have access to the
            projects submitted by legal entities previously accredited in the INDUSTRY category
            (“Participants”) during the registration period defined in the regulations via the <strong>Rio2C</strong>
            online platform. Each Participant may submit up to three (3) projects and send each project to up to five (5) Players. Players will have access to the projects and their
            <strong>evaluations</strong> between <strong>February 3 and March 23, 2025</strong>.
        </span>
    </li>
    <li class="mt-20">
        Ao clicar em “Enviar Projeto” o responsável pela inscrição do projeto deverá concordar com o
        “Regulamento das Rodadas de Negócios”, onde afirma estar ciente de que pode haver projetos semelhantes e
        isenta o Rio2C e os Players de qualquer responsabilidade com relação a projetos similares,
        excluindo o Rio2C e os Players de qualquer demanda judicial ou extrajudicial envolvendo a discussão de
        direitos sobre as ideias, temas e formatos apresentados nas Rodadas de Negócios.
        <span class="text-primary font-italic">
            / By clicking “Submit Project,” the person responsible for the project registration must agree to the "Business Rounds Regulations,"
            acknowledging that similar projects may exist and releasing Rio2C and the Players from any responsibility related to similar projects,
            waiving any legal or extrajudicial claims involving the discussion of rights over ideas, themes, and formats presented during the Business Rounds.
        </span>
    </li>
</ol>
<!--end:: General Rules-->
<!--begin:: Player Executive Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO DO EXECUTIVO (PLAYER) |
    <span class="text-primary font-italic">
        PLAYER PARTICIPATION
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players devem preencher a ficha de inscrição da empresa e de seus representantes até o dia <strong>15 de dezembro de 2024</strong>
        na plataforma online MyRio2C do Rio2C, através do link enviado por e-mail pela organização do evento.
        Essa inscrição irá gerar o perfil do Player no sistema e o acesso será personalizado através de senha.
        <span class="text-primary font-italic">
            / Players must complete the company and representative registration form by
            <strong>December 15, 2024,</strong> on the <strong>Rio2C MyRio2C online</strong> platform, through the link sent via email by the event organizers.
            This registration will create the Player's profile in the system, and access will be personalized with a password.
        </span>
    </li>
    <li class="mt-20">
        Entre os dias <strong>3 de fevereiro até o dia 23 de março de 2025</strong>, os executivos tem acesso aos projetos inscritos em uma área exclusiva da plataforma
        <strong>MyRio2C</strong>. Para avaliar os projetos, o executivo deve acessar a plataforma do evento com seu login e senha.
        <span class="text-primary font-italic">
            / Between <strong>February 3 and March 23, 2025</strong>, executives will have access to the submitted projects in an exclusive area of the <strong>MyRio2C</strong>
            platform. To evaluate the projects, the executive must log into the event platform using their login and password.
        </span>
    </li>
    <li class="mt-20">
        Os Players tem até o <strong>dia 23 de março de 2025</strong> para selecionar os projetos cujos Participantes desejam se reunir.
        <span class="text-primary font-italic">
            / Players have until <strong>March 23, 2025</strong>, to select the projects whose Participants they wish to meet with
        </span>
    </li>
</ol>
<!--end:: Player Executive Attendance-->
<!--begin:: Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO |
    <span class="text-primary font-italic">
        PARTICIPATION
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players recebem a agenda de reuniões das Rodadas de Negócios do <strong>Rio2C</strong> a partir do dia <strong>3 de maio de 2025</strong>.
        A agenda é montada exclusivamente pela organização do evento, contempla todos os compromissos oficiais e as informações da participação <strong>PRESENCIAL</strong>
        nas Rodadas de Negócios no período entre os dias <strong>28 e 30 de maio de 2025</strong>.
        <span class="text-primary font-italic">
            / Players will receive the meeting schedule for the Rio2C Business Rounds starting <strong>May 3, 2025</strong>.
            The schedule is created exclusively by the event organizers, includes all official appointments, and provides information about
            <strong>in-person participation</strong> in the Business Rounds, which will take place between
            <strong>May 28 and 30, 2025</strong>.
        </span>
    </li>
    <li class="mt-20">
        Cada reunião tem a duração <strong>máxima de 20 minutos</strong> e solicitamos que os Players estejam na sala de Rodadas de Negócios <strong>30 minutos antes da primeira reunião agendada</strong>.
        <span class="text-primary font-italic">
            / Each meeting will last <strong>a maximum of 20 minutes</strong>, and we request that Players
            <strong>arrive at the Business Rounds room 30 minutes before their first scheduled meeting</strong>.
        </span>
    </li>
    <li class="mt-20">
        Os horários e datas das reuniões, definidos na agenda oficial <strong>do Player</strong> são <strong>PRIORITARIOS</strong> e
        <strong>não podem ser alterados pelos Players</strong>. As datas divulgadas podem sofrer alterações a exclusivo critério da organização do evento,
        não implicando direito a indenização ou reclamação de qualquer natureza.
        <span class="text-primary font-italic">
            / The meeting times and dates, as defined in the official <strong>Player schedule, are PRIORITIES and cannot be changed by the Players</strong>.
            The dates published are subject to change at the sole discretion of the event organizers, without entitling Participants to compensation or claims of any kind.
        </span>
    </li>
    <li class="mt-20">
        O executivo autoriza o RIO CREATIVE CONFERENCES LTDA., sem quaisquer ônus e/ou encargos, a captar, fixar e utilizar a imagem,
        voz e interpretação relativos à sua participação nas Rodadas de Negócios e no Rio2C nos meios, tecnologias e suportes materiais de livre escolha do RIO CREATIVE CONFERENCES LTDA.,
        para fins de utilização institucional, publicitária e/ou comercial, que destinar-se-ão a toda e qualquer modalidade de utilização existente prevista no art.º. 29 da Lei 9.610/98.
        A presente autorização será gratuita e ocorrerá pelo prazo de proteção autoral conferido pela Lei 9.610/98 à obra em que as imagens, vozes e interpretações artísticas que serão utilizadas.
        <span class="text-primary font-italic">
            / The executive authorizes RIO CREATIVE CONFERENCES LTDA., without any charges and/or fees, to capture, record, and use their image, voice,
            and performance related to their participation in the Business Rounds and Rio2C, in any media, technologies, and material formats of
            RIO CREATIVE CONFERENCES LTDA.’s choice, for institutional, advertising, and/or commercial purposes, in any existing modes of use provided in Article 29 of Law 9.610/98.
            This authorization will be free of charge and will last for the duration of copyright protection granted by Law 9.610/98 to the work in which the images, voices, and performances are used.
        </span>
    </li>
</ol>
<!--end:: Attendance-->
