<h5 class="text-center font-weight-bold">
    Regulamento de Players Rio2C 2025 |
    <span class="text-primary font-italic">
        Players Regulation Rio2C 2025
    </span>
</h5>
<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS - MÚSICA |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGULAMENTO GERAL DE INSCRIÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        GENERAL REGULATION FOR PROJECT SUBMISSION
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        O executivo inscrito para receber projetos/empresas nas Rodadas de Negócios ("Player") terá acesso às inscrições de participantes previamente credenciados na categoria CREATOR ou INDUSTRY ("Participantes"), via plataforma online do <span class="font-weight-bold">Rio2C 2025</span>. Todas as inscrições acontecem entre <span class="font-weight-bold">3 e 21 de fevereiro de 2025</span>. O acesso aos projetos online e sua avaliação pelo Player ocorrem entre os dias <span class="font-weight-bold">24 de fevereiro e 23 de março de 2025</span>. Cada participante poderá selecionar até 3 segmentos de interesses (Players) e cada executivo ("Player") deverá selecionar de <span class="font-weight-bold">3 (três) a 6 (seis) projetos e/ou empresas</span> inscritas nas Rodadas de Negócios para as reuniões individuais. |
        <span class="text-primary font-italic">
            The executive enrolled to receive projects/companies in the One-to-One Meetings ("Player") will have access to the registrations of participants previously accredited in the CREATOR or INDUSTRY category ("Participants") through the Rio2C 2025 online platform. All registrations take place between <span class="font-weight-bold">February 3 and February 21, 2025</span>. Access to online projects and their evaluation by the Player will occur from <span class="font-weight-bold">February 24 to March 23, 2025</span>. Each participant can select up to 3 interest segments (Players), and each Executive ("Player") must choose from <span class="font-weight-bold">3 (three) to 6 (six) projects and/or companies</span> for individual meetings.
        </span>
    </li>
    <li class="mt-20">
        Ao clicar em “Enviar Projeto”, o responsável pela inscrição do projeto deverá concordar com o “Regulamento das Rodadas de Negócios”, onde afirma estar ciente de que pode haver projetos semelhantes e isenta o <span class="font-weight-bold">Rio2C e os Players</span> de qualquer responsabilidade com relação a projetos similares, excluindo o <span class="font-weight-bold">Rio2C e os Players</span> de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre as ideias, temas e formatos apresentados nas Rodadas de Negócios. |
        <span class="text-primary font-italic">
            By clicking on “Forward Project”, the person in charge of the project’s registration must also agree with the “Terms for Project Submission”, where they confirm they are aware that there may be similar projects and hold <span class="font-weight-bold">Rio2C and the Players</span> exempt in relation to similar projects, excluding <span class="font-weight-bold">Rio2C and the Player</span> from any judicial or extrajudicial demand involving the discussion of copyrights over the ideas, themes, and formats presented in the One-to-One Meetings.
        </span>
    </li>
</ol>
<!--end:: General Rules-->
<!--begin:: Player Executive Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO DO EXECUTIVO (PLAYER) |
    <span class="text-primary font-italic">
        OF THE EXECUTIVE’S (PLAYER’S) ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players deverão preencher a ficha de inscrição da empresa e de seus representantes até o dia <span class="font-weight-bold">15 de dezembro de 2024</span> na plataforma online <span class="font-weight-bold">MyRio2C</span> do <span class="font-weight-bold">Rio2C</span>, através do link enviado por e-mail pela organização do evento. Essa inscrição irá gerar o perfil do Player no sistema e o acesso será personalizado através de senha. |
        <span class="text-primary font-italic">
            The Player is requested to fill out the company and its representative’s registration form by <span class="font-weight-bold">December 15, 2024</span>, on <span class="font-weight-bold">Rio2C’s</span> online platform <span class="font-weight-bold">MyRio2C</span> using the link forwarded via e-mail by the event organizers. This registration generates the Player’s profile on the system, which shall be personalized by using a password.
        </span>
    </li>
    <li class="mt-20">
        De <span class="font-weight-bold">24 de fevereiro até 23 de março de 2025</span>, todos os executivos que representarão a empresa (Player) terão acesso aos projetos inscritos em uma área exclusiva na plataforma online <span class="font-weight-bold">MyRio2C</span> do <span class="font-weight-bold">Rio2C</span>. Para avaliar seus projetos, o executivo deverá acessar a plataforma do evento com seu login e senha. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">February 24 to March 23, 2025</span>, all executives (Players) will have access to the submitted projects in <span class="font-weight-bold">MyRio2C</span> a dedicated area of <span class="font-weight-bold">Rio2C’s</span> online platform. To evaluate your projects, the executive must access the event’s platform with their login and password.
        </span>
    </li>
    <li class="mt-20">
        Os Players terão até o dia <span class="font-weight-bold">23 de março de 2025</span> para selecionar no mínimo 3 e no máximo 6 projetos para realizar as reuniões individuais. |
        <span class="text-primary font-italic">
            Players will have until <span class="font-weight-bold">March 23, 2025</span>, to choose a minimum of 3 and a maximum of 6 projects for individual meetings.
        </span>
    </li>
</ol>
<!--end:: Player Executive Attendance-->
<!--begin:: Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO |
    <span class="text-primary font-italic">
        ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players receberão a partir do dia <span class="font-weight-bold">3 de maio de 2025</span> a agenda de reuniões das Rodadas de Negócios do <span class="font-weight-bold">Rio2C</span>. A agenda será montada pela organização, contendo todos os compromissos oficiais do executivo no <span class="font-weight-bold">Rio2C</span> - no período de <span class="font-weight-bold">28 a 30 de maio de 2025</span>. |
        <span class="text-primary font-italic">
            Players will receive, starting from <span class="font-weight-bold">May 3, 2025</span>, the schedule of meetings for the Rio2C Business Rounds. The schedule will be assembled by the organization, encompassing all official commitments of the executive during <span class="font-weight-bold">Rio2C</span>, from <span class="font-weight-bold">May 28 to May 30, 2025</span>.
        </span>
    </li>
    <li class="mt-20">
        Cada reunião terá a duração máxima de 20 minutos e solicitamos que os Players estejam na sala de Rodadas de Negócios <span class="font-weight-bold">20 minutos antes da primeira reunião</span>. |
        <span class="text-primary font-italic">
            Each meeting will have a maximum duration of 20 minutes and we kindly request that Players be at the One-to-One Meetings room <span class="font-weight-bold">20 minutes before the first scheduled meeting</span>.
        </span>
    </li>
    <li class="mt-20">
        Os horários e datas definidos na agenda disponível online na plataforma <span class="font-weight-bold">MyRio2C</span> ao Player são prioritários e <span class="font-weight-bold">não podem ser alterados pelos Players</span>. As datas divulgadas podem sofrer alterações a exclusivo critério da organização do evento, não implicando direito a indenização ou reclamação de qualquer natureza. |
        <span class="text-primary font-italic">
            Times and dates established on the agenda available at the online platform <span class="font-weight-bold">MyRio2C</span> must take precedence and <span class="font-weight-bold">may not be changed by the Player</span>. The above-mentioned dates may be changed according to the event organization’s sole discretion criteria, implying no right to indemnity or claim of any kind.
        </span>
    </li>
</ol>
<!--end:: Attendance-->
