<h4 class="text-center font-weight-bold">
    RODADAS DE NEGÓCIOS |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGRAS GERAIS DE INSCRIÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        GENERAL RULES FOR PROJECT SUBMISSION
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        O executivo (Player) terá acesso aos projetos de pessoa(s) jurídica(s) previamente credenciada(s) nas categorias INDUSTRY e INDUSTRY+, via plataforma online do <span class="font-weight-bold">Rio2C|RioContentMarket 2020</span>. Todos os proponentes de projetos estarão devidamente inscritos nas Rodadas de Negócios entre <span class="font-weight-bold">5 e 20 de dezembro de 2019</span>. O acesso aos projetos online e sua avaliação pelo Player ocorrem <span class="font-weight-bold">a partir do dia 05 de janeiro de 2020 a 21 de fevereiro de 2020</span>. Cada pessoa jurídica poderá inscrever até 3 (três) projetos e enviar cada projeto para até 5 (cinco) Players. |
        <span class="text-primary font-italic">
            Executives (Players) will have access to projects from legal corporations correctly registered in the INDUSTRY and INDUSTRY+ categories for <span class="font-weight-bold">Rio2C|RioContentMarket 2020</span>, at the event’s online platform. All project submissions must be made between <span class="font-weight-bold">December 5th – 20th, 2019</span>. Project evaluations by the Players take place <span class="font-weight-bold">starting from January 5th, 2020 until February 21st, 2020</span>. Each legal corporation may submit up to 3 (three) projects and each project may be sent to a maximum of 5 (five) Players.
        </span>
    </li>
    <li class="mt-20">
        Ao clicar em “Enviar Projeto” o responsável pela inscrição do mesmo deverá concordar com o “Regulamento das Rodadas de Negócios”, onde afirma estar ciente de que pode haver projetos semelhantes e isenta o Rio2C| RioContentMarket e os Players de qualquer responsabilidade com relação a projetos similares, excluindo o <span class="font-weight-bold">Rio2C|RioContentMarket</span> e os players de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre os formatos. |
        <span class="text-primary font-italic">
            By clicking on “Forward Project”, the person in charge of registration must also agree with the “Terms for Project Submission”, where they confirm they are aware that there may be similar projects and hold Rio2C|RioContentMarket and the executives (Players) exempt in relation to similar projects, excluding <span class="font-weight-bold">Rio2C|RioContentMarket</span> and the Player from any judicial or extrajudicial demand involving the discussion of copyrights over the formats.
        </span>
    </li>
</ol>
<!--end:: General Rules-->
<!--begin:: Player Executive Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO DO EXECUTIVO (PLAYER) |
    <span class="text-primary font-italic">
        OF THE EXECUTIVE’S (PLAYER’S) ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Preencher a ficha de inscrição da empresa e executivos (Players) até o <span class="font-weight-bold">dia 4 de dezembro de 2019</span> na plataforma online <span class="font-weight-bold">MyRio2C</span> do <span class="font-weight-bold">Rio2C|RioContentMarket</span>, com link enviado por e-mail pela organização do evento. Essa inscrição irá gerar o perfil da empresa no sistema e o acesso será personalizado através de senha. |
        <span class="text-primary font-italic">
            The player is requested to fill out the executive (Player) registration form by <span class="font-weight-bold">December 4th, 2019</span> on <span class="font-weight-bold">Rio2C|RioContentMarket's</span> online platform <span class="font-weight-bold">MyRio2C</span> with a link forwarded via e-mail by the event organizers. This registration generates the company’s profile on the system, which shall be personalized by using a password.
        </span>
    </li>
    <li class="mt-20">
        A partir do dia <span class="font-weight-bold">5 de janeiro até 21 de fevereiro de 2020</span> todos os executivos que atenderão pela empresa (Player) terão acesso aos projetos inscritos em uma área exclusiva na plataforma online MyRio2C do <span class="font-weight-bold">Rio2C|RioContentMarket</span>. Para avaliar seus projetos, o executivo deverá acessar a plataforma do evento com seu login e senha. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">January 5th until February 21st, 2020</span>, all executives who will attend on behalf of the company (Player) will receive have access to the submitted projects in MyRio2C a dedicated area of <span class="font-weight-bold">Rio2C|RioContentMarket’s</span> online platform. To evaluate your projects, the executive must access the event’s platform with their login and password.
        </span>
    </li>
    <li class="mt-20">
        Os executivos (Players) terão até o dia <span class="font-weight-bold">21 de fevereiro de 2020</span> para selecionar os projetos cujas empresas desejam se reunir. |
        <span class="text-primary font-italic">
            Executives (Players) shall have until <span class="font-weight-bold">February 21st, 2020</span> to mark which projects’ proposing companies they would like to meet up with.
        </span>
    </li>
</ol>
<!--end:: Player Executive Attendance-->
<!--begin:: Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO |
    <span class="text-primary font-italic">
        ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os executivos (Players) receberão a partir do dia <span class="font-weight-bold">23 de março de 2020</span> a agenda de reuniões das Rodadas de Negócios do <span class="font-weight-bold">Rio2C|RioContentMarket</span>. As agendas serão montadas pela organização, levando em consideração a disponibilidade do Player durante os dias <span class="font-weight-bold">5, 6, 7 e 8 de maio de 2020</span>. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">March 23rd, 2020</span> the executives (Players) will receive their One-to-One Meetings agenda for <span class="font-weight-bold">Rio2C|RioContentMarket</span>. The agenda will be planned by the organization, taking into consideration the Player’s availability during <span class="font-weight-bold">May 5th, 6th, 7th and 8th, 2020</span>.
        </span>
    </li>
    <li class="mt-20">
        Cada reunião terá a duração máxima de 20 minutos e solicitamos que os executivos (Players) estejam na sala de Rodadas de Negócios <span class="font-weight-bold">10 minutos antes da primeira reunião agendada</span>. |
        <span class="text-primary font-italic">
            Each meeting will have a maximum duration of 20 minutes and we kindly request that executives (Players) be at the One-to-One Meetings room <span class="font-weight-bold">10 minutes before the first scheduled meeting</span>.
        </span>
    </li>
    <li class="mt-20">
        Os horários e datas definidos na agenda enviada pelo <span class="font-weight-bold">Rio2C|RioContentMarket</span> ao executivo (Player) são prioritários e <span class="font-weight-bold">não podem ser alterados</span>. As datas divulgadas podem sofrer alterações à critério da organização do evento, não implicando direito à indenização ou reclamação de qualquer natureza. |
        <span class="text-primary font-italic">
            Times and dates established on the schedule forwarded by <span class="font-weight-bold">Rio2C|RioContentMarket</span> to the executive (Player) must take precedence and <span class="font-weight-bold">may not be changed</span>. The above-mentioned dates may be changed according to the event organization’s criteria.
        </span>
    </li>
</ol>
<!--end:: Attendance-->