<h5 class="text-center font-weight-bold">
    Regulamento de Players Rio2C 2020 |
    <span class="text-primary font-italic">
        Players’ Regulation Rio2C 2020
    </span>
</h5>
<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGRAS GERAIS DE INSCRIÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        GENERAL RULES FOR PROJECT SUBMISSION
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        O executivo inscrito nas Rodadas de Negócios ("Player") terá acesso aos projetos de pessoa(s) jurídica(s) previamente credenciada(s) nas categorias INDUSTRY e INDUSTRY+ ("Participantes"), via plataforma online do <span class="font-weight-bold">Rio2C 2020</span>. Todos os Participantes estarão devidamente inscritos nas Rodadas de Negócios entre <span class="font-weight-bold">5 e 23 de dezembro de 2019</span>. O acesso aos projetos online e sua avaliação pelo Player ocorrem a partir do dia <span class="font-weight-bold">6 de janeiro de 2020 a 21 de fevereiro de 2020</span>. Cada Participante poderá inscrever até 3 (três) projetos e enviar cada projeto para até 5 (cinco) Players. |
        <span class="text-primary font-italic">
            Executives enrolled in the One-to-One Meetings ("Players") will have access to projects from legal corporations correctly registered in the INDUSTRY and INDUSTRY+ categories ("Participants") for <span class="font-weight-bold">Rio2C 2020</span>, at the event’s online platform. All project submissions must be made between <span class="font-weight-bold">December 5<sup>th</sup> – 23<sup>rd</sup>, 2019</span>. Project evaluations by the Players take place starting from <span class="font-weight-bold">January 6<sup>th</sup>, 2020 until February 21<sup>st</sup>, 2020</span>. Each Participant may submit up to 3 (three) projects and each project may be sent to a maximum of 5 (five) Players.
        </span>
    </li>
    <li class="mt-20">
        Ao clicar em “Enviar Projeto” o responsável pela inscrição do projeto deverá concordar com o “Regulamento das Rodadas de Negócios”, onde afirma estar ciente de que pode haver projetos semelhantes e isenta o <span class="font-weight-bold">Rio2C</span> e os Players de qualquer responsabilidade com relação a projetos similares, excluindo o <span class="font-weight-bold">Rio2C</span> e os Players de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre as ideias, temas e formatos apresentados nas Rodadas de Negócios. |
        <span class="text-primary font-italic">
            By clicking on “Forward Project”, the person in charge of the project’s registration must also agree with the “Terms for Project Submission”, where they confirm they are aware that there may be similar projects and hold <span class="font-weight-bold">Rio2C</span> and the Players exempt in relation to similar projects, excluding <span class="font-weight-bold">Rio2C</span> and the Player from any judicial or extrajudicial demand involving the discussion of copyrights over the ideas, themes and formats presented in the One-to-One Meetings.
        </span>
    </li>
</ol>
<!--end:: General Rules-->
<!--begin:: Player Executive Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO DO EXECUTIVO (PLAYER) |
    <span class="text-primary font-italic">
        OF THE EXECUTIVE’S (PLAYER’S) ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players deverão preencher a ficha de inscrição da empresa e de seus representantes até o dia <span class="font-weight-bold">4 de dezembro de 2019</span> na plataforma online <span class="font-weight-bold">MyRio2C</span> do <span class="font-weight-bold">Rio2C</span>, através do link enviado por e-mail pela organização do evento. Essa inscrição irá gerar o perfil do Player no sistema e o acesso será personalizado através de senha. |
        <span class="text-primary font-italic">
            The Player is requested to fill out the company and its representative’s registration form by <span class="font-weight-bold">December 4<sup>th</sup>, 2019</span> on <span class="font-weight-bold">Rio2C’s</span> online platform <span class="font-weight-bold">MyRio2C</span> using the link forwarded via e-mail by the event organizers. This registration generates the Player’s profile on the system, which shall be personalized by using a password.
        </span>
    </li>
    <li class="mt-20">
        A partir do dia <span class="font-weight-bold">6 de janeiro até 21 de fevereiro de 2020</span> todos os executivos que representarão o Player terão acesso aos projetos inscritos em uma área exclusiva na plataforma online <span class="font-weight-bold">MyRio2C</span> do <span class="font-weight-bold">Rio2C</span>. Para avaliar seus projetos, o executivo deverá acessar a plataforma do evento com seu login e senha. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">January 6<sup>th</sup> until February 21<sup>st</sup>, 2020</span>, all executives (Players) will have access to the submitted projects in <span class="font-weight-bold">MyRio2C</span> a dedicated area of <span class="font-weight-bold">Rio2C’s</span> online platform. To evaluate your projects, the executive must access the event’s platform with their login and password.
        </span>
    </li>
    <li class="mt-20">
        Os Players terão até o dia <span class="font-weight-bold">21 de fevereiro de 2020</span> para selecionar os projetos cujos Participantes desejam se reunir. |
        <span class="text-primary font-italic">
            Players shall have until <span class="font-weight-bold">February 21<sup>st</sup>, 2020</span> to mark which projects’ proposing Participants they would like to meet up with.
        </span>
    </li>
</ol>
<!--end:: Player Executive Attendance-->
<!--begin:: Attendance-->
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO |
    <span class="text-primary font-italic">
        ATTENDANCE
    </span>
</p>
<ol class="text-justify">
    <li class="mt-20">
        Os Players receberão a partir do dia <span class="font-weight-bold">23 de março de 2020</span> a agenda de reuniões das Rodadas de Negócios do <span class="font-weight-bold">Rio2C</span>. A agenda será montada pela organização, contemplando todos os eventos oficiais dos quais o executivo (Player) fará parte durante os dias <span class="font-weight-bold">5, 6, 7 e 8 de maio de 2020</span>. |
        <span class="text-primary font-italic">
            Starting from <span class="font-weight-bold">March 23<sup>rd</sup>, 2020</span> the Players will receive their One-to-One Meetings agenda for <span class="font-weight-bold">Rio2C</span>. The agenda will be planned by the organization, with all the official events that the executive (Player) will be attending during <span class="font-weight-bold">May 5<sup>th</sup>, 6<sup>th</sup>, 7<sup>th</sup> and 8<sup>th</sup>, 2020</span>.
        </span>
    </li>
    <li class="mt-20">
        Cada reunião terá a duração máxima de 20 minutos e solicitamos que os Players estejam na sala de Rodadas de Negócios <span class="font-weight-bold">20 minutos antes da primeira reunião agendada</span>. |
        <span class="text-primary font-italic">
            Each meeting will have a maximum duration of 20 minutes and we kindly request that Players be at the One-to-One Meetings room <span class="font-weight-bold">20 minutes before the first scheduled meeting</span>.
        </span>
    </li>
    <li class="mt-20">
        Os horários e datas definidos na agenda disponível online na plataforma <span class="font-weight-bold">MyRio2C</span> ao Player são prioritários e <span class="font-weight-bold">não podem ser alterados pelos Players</span>. As datas divulgadas podem sofrer alterações à exclusivo critério da organização do evento, não implicando direito à indenização ou reclamação de qualquer natureza.
        <span class="text-primary font-italic">
            Times and dates established on the schedule forwarded by <span class="font-weight-bold">Rio2C</span> to the Player must take precedence and <span class="font-weight-bold">may not be changed by the Player</span>. The above-mentioned dates may be changed according to the event organization’s sole discretion criteria.
        </span>
    </li>
</ol>
<!--end:: Attendance-->
<!--begin:: Important Tip-->
<ul class="text-justify" style="list-style: none;">
    <li class="mt-40">
        <span class="font-weight-bold">Dica importante:</span> O Player terá mais de 40 dias para avaliar os projetos, então por gentileza não deixe para última hora. Todos os Projetos recebidos devem ser avaliados dentro do prazo estipulado. |
        <span class="text-primary font-italic">
            The Player will have over 40 days to evaluate the projects, so kindly finish before the deadline. All projects received must be evaluated in time.
        </span>
    </li>
</ul>
<!--end:: Important Tip-->
