<h5 class="text-center font-weight-bold">
    Palestrantes Rio2C 2020 |
    <span class="text-primary font-italic">
        Speakers Rio2C 2020
    </span>
</h5>
<h4 class="mt-50 text-center font-weight-bold">
    AUTORIZAÇÃO DO USO DE IMAGEM |
    <span class="text-primary font-italic">
        IMAGE AUTHORIZATION FORM
    </span>
</h4>
<!--begin:: Image Authorization-->
<ul class="text-justify list-unstyled">
    <li class="mt-20 pr-1">
        Declaro, de forma espontânea e voluntária, sem ter sofrido qualquer tipo de coação física e/ou moral, nem qualquer outro constrangimento ilegal, estar ciente e concordar que autorizo, de forma irrevogável, irretratável e gratuita, a RIO CREATIVE CONFERENCES LTDA. (CNPJ/ME nº 26.079.220/0001-46), bem como seus respectivos sócios, diretores, representantes e terceiros contratados, a captar, reproduzir, expor, publicar e utilizar a imagem, som de voz, nome, dados biográficos, portfólio profissional, interpretações e atuações captadas durante minha participação no evento, abrangendo seu uso em todo território nacional e no exterior, por quaisquer veículos, processos e meios de comunicação, divulgação e publicação, físicos ou digitais, existentes ou que venham a ser criados, para a utilização publicitária, promocional e/ou institucional e sem limite de tempo ou número de utilizações, não cabendo, em qualquer tempo, direito à indenização. |
        <span class="text-primary font-italic">
            I declare, spontaneously and voluntarily, not having suffered any kind of physical and/or moral coercion, to be aware and agree that I authorize, irrevocably, irreversibly and gratuitously, RIO CREATIVE CONFERENCES LTDA. (CNPJ/ME No. 26.079.220/0001-46) and its shareholders, officers, representatives and contracted third parties, to capture, reproduce, exhibit, publish and use the likeness, voice sound, name, biographical data, professional portfolio, interpretations and performances captured during my participation in the event, covering its use throughout the national territory and abroad, by any existing or future physical or digital vehicles, methods and means of communication, dissemination and publication, for advertising, promotional and/or institutional uses and without limits of time or number of uses, without any right to claim for compensation or damages, at any time.
        </span>
    </li>
</ul>
<!--end:: Image Authorization-->