@model PlataformaRio2C.Application.CQRS.Commands.AcceptMusicPitchingEvaluation
<div class="row">
    <div class="form-group col-12">
        @Html.Raw(string.Format(Messages.DoYouReallyWishAcceptObjectEntity, Model.MusicProjectDto?.AttendeeMusicBandDto?.MusicBandType?.Name?.ToLowerInvariant() ?? string.Empty, Model.MusicProjectDto?.AttendeeMusicBandDto?.MusicBand?.Name ?? "-"))
    </div>
</div>