@{
    ViewBag.Title = Labels.Welcome;
}
<div class="row">
    <div class="col-sm-12">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__body ">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="page-title">@ViewBag.Title</h1><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="news-message">
                            Página temporária, o dashboard será exibido.
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 