@model PlataformaRio2C.Application.CQRS.Commands.UpdateInnovationCollaboratorTracks
<div class="row">
    <div class="form-group col-md-12">
        @Html.ValidationMessage("AttendeeInnovationOrganizationTracks", new { @class = "text-danger" })
        <div class="error">
            <span></span>
        </div>
        <div class="kt-section__content mt-3">
            <div class="kt-checkbox-list">
                @Html.EditorFor(m => m.AttendeeInnovationOrganizationTracks)
            </div>
        </div>
    </div>
</div>