<div class="modal fade" data-backdrop="static" data-keyboard="false" id="OnboardingModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Complete seu cadastro</h5>
            </div>
            <div class="modal-body">
                <div class="kt-portlet">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="first">
                            <div class="kt-grid__item">
                                <!--begin: Form Wizard Nav -->
                                <div class="kt-wizard-v3__nav">
                                    <div class="kt-wizard-v3__nav-items">
                                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>1</span> Dados pessoais
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="pending">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>2</span> Dados do Player
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="pending">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>3</span> Interesses do Player
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--end: Form Wizard Nav -->

                            </div>
                            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
                                <!--begin: Form Wizard Form-->
                                <form class="kt-form" id="kt_form" novalidate="novalidate">
                                    <!--begin: Form Wizard Step 1-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                        <div class="kt-heading kt-heading--md">Confirme e complete seus dados pessoais</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">

                                                <div class="form-group row">
                                                    <div class="col-lg-4 text-center">
                                                        <!-- EXISTENT IMAGE CONTAINER - BEGIN -->
                                                        <div class="row existent-image-container">
                                                            <div class="col-md-12">
                                                                <div class="kt-avatar kt-avatar--outline" id="kt_apps_user_add_avatar">
                                                                    <div id="no-image" class="kt-avatar__holder wh-200 " style="background-color: rgba(255, 255, 255, 0.1);"></div>
                                                                    <input accept="image/*" class="sr-only" data-val="true" data-val-extension="The image format must be jpeg, jpg, gif or png." data-val-extension-extension="png,jpg,jpeg,gif" id="ImageFile" name="CropperImage.ImageFile" type="file" value="">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="btn default btn-file" for="ImageFile">
                                                                    <span class="btn btn-primary">Select image</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <span class="field-validation-valid text-danger" data-valmsg-for="CropperImage.ImageFile" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <!-- EXISTENT IMAGE CONTAINER - END -->
                                                        <!-- CROPPER CONTAINER - BEGIN -->
                                                        <div class="row cropper-control-hide d-none">
                                                            <div class="col-12">
                                                                <div class="container cropper-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <input data-val="true" data-val-required="The IsImageDeleted field is required." id="CropperImage_IsImageDeleted" name="CropperImage.IsImageDeleted" type="hidden" value="False">
                                                                            <input id="CropperImage_ImageUid" name="CropperImage.ImageUid" type="hidden" value="745e0e83-e4e0-451c-b941-912cb36b815f">
                                                                            <input id="CropperImage_ImageUploadDate" name="CropperImage.ImageUploadDate" type="hidden" value="">
                                                                            <input id="CropperImage_FileRepositoryPathTypeUid" name="CropperImage.FileRepositoryPathTypeUid" type="hidden" value="77a64959-117b-4fcc-b031-b519c0f65196">
                                                                            <input data-val="true" data-val-number="The field DataX must be a number." data-val-required="The DataX field is required." id="CropperImage_DataX" name="CropperImage.DataX" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataY must be a number." data-val-required="The DataY field is required." id="CropperImage_DataY" name="CropperImage.DataY" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataHeight must be a number." data-val-required="The DataHeight field is required." id="CropperImage_DataHeight" name="CropperImage.DataHeight" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataWidth must be a number." data-val-required="The DataWidth field is required." id="CropperImage_DataWidth" name="CropperImage.DataWidth" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataRotate must be a number." data-val-required="The DataRotate field is required." id="CropperImage_DataRotate" name="CropperImage.DataRotate" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataScaleX must be a number." data-val-required="The DataScaleX field is required." id="CropperImage_DataScaleX" name="CropperImage.DataScaleX" type="hidden" value="0">
                                                                            <input data-val="true" data-val-number="The field DataScaleY must be a number." data-val-required="The DataScaleY field is required." id="CropperImage_DataScaleY" name="CropperImage.DataScaleY" type="hidden" value="0">
                                                                            <div class="img-container">
                                                                                <img id="image" src="" alt="Image" style="max-width: 100%;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-1">
                                                                        <div class="col-md-12 docs-buttons text-center">
                                                                            <!-- <h3 class="page-header">Toolbar:</h3> -->
                                                                            <div class="btn-group">
                                                                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                                                                    <span class="fa fa-search-plus"></span>
                                                                                </button>
                                                                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                                                                    <span class="fa fa-search-minus"></span>
                                                                                </button>
                                                                                <button type="button" class="btn btn-primary ml-2" data-method="reset" title="Reset">
                                                                                    <span class="fa fa-undo"></span>
                                                                                </button>
                                                                                <button type="button" onclick="MyRio2cCropper.cancel(); return false;" class="btn btn-primary ml-2" data-method="reset" title="Cancel">
                                                                                    <span class="fa fa-window-close"></span>
                                                                                </button>
                                                                            </div>
                                                                        </div><!-- /.docs-buttons -->
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-md-12 text-center">
                                                                        <span class="badge badge-danger">WARNING!</span><br>
                                                                        <span class="text">Please insert the company logo in jpeg, jpg, gif or png format with white blackboard. <br> Minimum size 1kb.</span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="form-group">
                                                            <div class="form-group col-md-12">
                                                                <label>Primeiro nome</label>
                                                                <input type="text" class="form-control" name="firstname" placeholder="" value="">
                                                                <span class="form-text text-muted"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="form-group col-md-12">
                                                                <label>Último nome</label>
                                                                <input type="text" class="form-control" name="lastname" placeholder="" value="">
                                                                <span class="form-text text-muted"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-heading kt-heading--sm">Mini-biografia</div>
                                                <div class="form-group row">
                                                    <label>Em inglês</label>
                                                    <textarea name="minibio-en" class="form-control" style="height:100px">Bianca Lenti is a partner and creative director at Giros Production Company. She has a degree in Journalism and has started her working life in the film industry, thirteen years ago, as a researcher and scriptwriter for TV series and feature documentaries. She has been responsible for the creation of new projects and supervising content at Giros for seven years now. She has on her CV series produced for Canal Futura, GNT, TV Brasil, Globo News, History Channel and Canal Brasil, among others. Bianca also took part as a scriptwriter in the last three Giros feature documentaries: "Eternal Amazon", released in 2012; "Boy 23", released in 2016; and "Out of Place", which is in the pre-production stage. She is currently responsible for the executive production of the scriptwriting team at Giros Creative Nucleus, as well as being the artistic director of a series of projects, still under development, for the following channels: Curta!,  Globosat, CinebrasilTV, Arte 1 and TLC.</textarea>
                                                    <span class="form-text text-muted"></span>
                                                </div>
                                                <div class="form-group row">
                                                    <label>Em português</label>
                                                    <textarea name="minibio-en" class="form-control" style="height:100px">Bianca Lenti é sócia e diretora de criação da Giros. Graduada em jornalismo, há 13 anos iniciou sua trajetória no mercado como pesquisadora e roteirista de séries de tv e longas documentais. Há 7 anos assumiu a direção de criação de novos projetos e a supervisão dos conteúdos em produção na casa. Em seu currículo constam séries produzidas para o Canal Futura, GNT, TV Brasil, Globo News, History Channel e Canal Brasil, entre outros. Bianca assina também o roteiro dos três últimos longas documentais da Giros: "Amazônia Eterna", lançado em 2012, "Menino 23", lançado em 2016 e "Até Que se Prove o Contrário", em fase de pré-produção. Atualmente conduz a produção executiva das salas de roteiristas do Núcleo Criativo da Giros, bem como a direção artística de uma série de projetos em produção para os Canais Curta!,  Globosat, CinebrasilTV, Arte 1 e TLC.</textarea>
                                                    <span class="form-text text-muted"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="kt-heading kt-heading--md">Configure uma senha de acesso ao MyRio2C</div>
                                        <div class="kt-form__section kt-form__section">
                                            <div class="kt-wizard-v3__form">
                                                <div class="form-group">
                                                    <label>Email/Username: bianca@giros.com.br</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Informe uma senha de acesso à conta</label>
                                                    <input type="password" class="form-control" name="password" placeholder="" value="">
                                                    <span class="form-text text-muted"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Confirmação da senha</label>
                                                    <input type="password" class="form-control" name="passwordconfirmation" placeholder="" value="">
                                                    <span class="form-text text-muted"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 1-->
                                    <!--begin: Form Wizard Step 2-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                        <div class="kt-heading kt-heading--md">Escolha os interesses da empresa</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 2-->
                                    <!--begin: Form Wizard Step 3-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                        <div class="kt-heading kt-heading--md">Escolha os interesses da empresa Giros</div>

                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                                <div class="kt-heading kt-heading--sm">Está buscando | Looking For</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Aquisição/ Licenciamento | Acquisition/ Licensing</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Coprodução | Co-production</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Formato | Format</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Curta | Short Film</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Games & APPs</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Interprograma | Short-format series</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Longa | Feature Film</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Minissérie | Miniseries</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Novela | Telenovela</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Podcast</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Reality Show</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Série | Series</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Streaming/Live</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Variedades | Variety Shows</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">VR + AR + XR</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Gênero | Genre</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Animação | Animation</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Documentário/Factual | Documentary/Factual</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ficção | Fiction</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Kids</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Show | Concert</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Plataformas | Platforms</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">App</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Cinema</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Digital</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Outras Mídias | Other Media</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">TV</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Público alvo | Target audience</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Adulto | Adult</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infantil | Kids</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infanto-Juvenil | Tween</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Jovem | Young Adult</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Pré-escolar | Preschool</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Status do projeto | Project Status</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Catálogo | Catalogue</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Conceito / IP (Propriedade intelectual) | Concept / IP (Intellectual Property)</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Desenvolvimento | In Development</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Finalizado (inédito) | Finished (no prior exhibition)</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Produção | In Production</label></div> <br />
                                                <div class="kt-heading kt-heading--sm">Subgênero | Sub-genre</div>
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ação | Action</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Arte/Cultura | Art/Culture</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Aventura | Adventure</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Biografia | Biography </label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ciência/Educação | Science/Educational</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Comédia | Comedy</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Drama</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Esportes | Sports</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Factual Life Style</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Família | Family</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Faroeste | Western</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ficção | Sci-Fi</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Gastronomia | Gastronomy</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Música | Music</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Policial/Crime | Cop/Crime</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Romance</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Suspense/Mistério | Thriller/Mystery</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Terror | Horror</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Viagem | Travel</label></div> <br />

                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 3-->
                                    <!--begin: Form Wizard Step 4-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                        <div class="kt-heading kt-heading--md">Selecione as atividades</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Canal de TV Aberta | Broadcast TV Channel</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Canal de TV por assinatura | Pay-TV Channel</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Distribuidor | Distributor</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Outras Mídias | Other Media</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Produtora  | Producer</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Programador | Programmer</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">VOD / OTT / Streaming</label></div> <br />
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 4-->
                                    <!--begin: Form Actions -->
                                    <div class="kt-form__actions">
                                        <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                            Voltar
                                        </button>
                                        <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                            Salvar
                                        </button>
                                        <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                            Próximo
                                        </button>
                                    </div>
                                    <!--end: Form Actions -->
                                </form>
                                <!--end: Form Wizard Form-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
