<div class="modal fade" data-backdrop="static" data-keyboard="false" id="OnboardingModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Complete seu cadastro</h5>
            </div>
            <div class="modal-body">
                <div class="kt-portlet">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="first">
                            <div class="kt-grid__item">
                                <!--begin: Form Wizard Nav -->
                                <div class="kt-wizard-v3__nav">
                                    <div class="kt-wizard-v3__nav-items">
                                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>1</span> Seus interesses
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="pending">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>2</span> Públic-alvo
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                        <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="pending">
                                            <div class="kt-wizard-v3__nav-body">
                                                <div class="kt-wizard-v3__nav-label">
                                                    <span>3</span> Atividades
                                                </div>
                                                <div class="kt-wizard-v3__nav-bar"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--end: Form Wizard Nav -->

                            </div>
                            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
                                <!--begin: Form Wizard Form-->
                                <form class="kt-form" id="kt_form" novalidate="novalidate">
                                    <!--begin: Form Wizard Step 1-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                        <div class="kt-heading kt-heading--md">Escolha os interesses da empresa</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                                <section style="display: flex;">

                                                    <div>
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Aquisição/ Licenciamento | Acquisition/ Licensing</label></div> <br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Coprodução | Co-production</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Curta | Short Film</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Games & APPs</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Interprograma | Short-format series</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Longa | Feature Film</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Minissérie | Miniseries</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Novela | Telenovela</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Podcast</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Reality Show</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Série | Series</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Streaming/Live</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Variedades | Variety Shows</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">VR + AR + XR</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Animação | Animation</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Documentário/Factual | Documentary/Factual</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ficção | Fiction</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Kids</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Show | Concert</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">App</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Cinema</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Digital</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Outras Mídias | Other Media</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">TV</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Adulto | Adult</label></div><br />

                                                    </div>
                                                    <div>
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infantil | Kids</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infanto-Juvenil | Tween</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Jovem | Young Adult</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Pré-escolar | Preschool</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Catálogo | Catalogue</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Conceito / IP (Propriedade intelectual) | Concept / IP (Intellectual Property)</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Desenvolvimento | In Development</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Finalizado (inédito) | Finished (no prior exhibition)</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Produção | In Production</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ação | Action</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Arte/Cultura | Art/Culture</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Aventura | Adventure</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Biografia | Biography </label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ciência/Educação | Science/Educational</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Comédia | Comedy</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Drama</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Esportes | Sports</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Factual Life Style</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Família | Family</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Faroeste | Western</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Ficção | Sci-Fi</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Gastronomia | Gastronomy</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Música | Music</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Policial/Crime | Cop/Crime</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Romance</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Suspense/Mistério | Thriller/Mystery</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Terror | Horror</label></div><br />
                                                        <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Viagem | Travel</label></div><br />
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 1-->
                                    <!--begin: Form Wizard Step 2-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                        <div class="kt-heading kt-heading--md">Selecione o público-alvo da empresa</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Adulto | Adult</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infantil | Children</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Infanto-Juvenil | Tween</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Jovem | Young Adults</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Pré-Escolar | Preschool</label></div> <br />
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 2-->
                                    <!--begin: Form Wizard Step 3-->
                                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                        <div class="kt-heading kt-heading--md">Selecione as atividades</div>
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="kt-wizard-v3__form">
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Canal de TV Aberta | Broadcast TV Channel</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Canal de TV por assinatura | Pay-TV Channel</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Distribuidor | Distributor</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Outras Mídias | Other Media</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Produtora  | Producer</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">Programador | Programmer</label></div> <br />
                                                <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="interests" value="option2"><label class="form-check-label" for="inlineCheckbox2">VOD / OTT / Streaming</label></div> <br />
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Step 3-->
                                    <!--begin: Form Actions -->
                                    <div class="kt-form__actions">
                                        <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                            Voltar
                                        </button>
                                        <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                            Salvar
                                        </button>
                                        <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                            Próximo
                                        </button>
                                    </div>
                                    <!--end: Form Actions -->
                                </form>
                                <!--end: Form Wizard Form-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
