@using PlataformaRio2C.Domain.Constants
@using PlataformaRio2C.Domain.Dtos
@model List<LogisticAirfareDto>
@{
    var adminAccessControlDto = ViewBag.AdminAccessControlDto as AdminAccessControlDto;
    var hasChangeDataPermission = adminAccessControlDto?.HasAnyCollaboratorType(new[] { CollaboratorType.AdminAudiovisual, CollaboratorType.AdminLogistic }) == true;
}
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            @Labels.Airfare
        </h3>
    </div>
    @if (hasChangeDataPermission)
    {
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md btn-circle" onclick="LogisticAirfareCreate.showModal();">
                    <i class="flaticon2-add-1"></i>
                </button>
            </div>
        </div>
    }
</div>
<div class="kt-portlet__body pt-0">
    <div class="kt-widget">
        <div class="kt-widget__bottom">
            @Html.Partial("Widgets/LogisticsAirfareList", Model)
        </div>
    </div>
</div>