@model PlataformaRio2C.Application.CQRS.Commands.CreateRoom
<div class="kt-section pt-2">
    <h3 class="kt-section__title mb-0">@Labels.Names</h3>
    @Html.ValidationMessage("Names", new { @class = "text-danger" })
    <div class="kt-section__content mt-3">
        @Html.EditorFor(m => m.Names)
    </div>
</div>