@model int
<div class="kt-portlet__head kt-portlet__space-x">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
            <a class="kt-label-font-color-2" href="@Url.Action("Index", "Projects", new { Area = "Audiovisual" })">
                @Labels.AudiovisualProjects @Labels.InEditionYear.Replace("{0}", ViewBag.EditionDto.UrlCode.ToString())
            </a>
        </h3>
    </div>
</div>
<div class="kt-portlet__body">
    <div id="AudiovisualProjectsEditionCountGaugeChart" style="height:250px;"></div>
</div>