@model int
<div class="kt-portlet__body kt-portlet__body--fluid">
    <div class="kt-widget20">
        <div class="kt-widget20__chart" style="height:130px;">
            <div class="odometer" id="AudiovisualProjectsEditionCountOdometerChart"></div>
        </div>
    </div>
</div>