@model PlataformaRio2C.Application.CQRS.Commands.UpdateCollaboratorSiteMainInformation
<div class="modal fade" id="ShowContactsListModal" role="dialog" aria-labelledby="ShowContactsListModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Labels.NetworkRio2C
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("Shared/_ContactListSearchForm")
                <div id="NetworksContactsListWidget" class="kt-grid__item kt-grid__item--fluid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
            </div>
        </div>
    </div>
</div>

