@model PlataformaRio2C.Application.CQRS.Commands.CreateOrganizationExecutive
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.CollaboratorUid, new { @class = "control-label" })
        @Html.DropDownList("CollaboratorUid", Enumerable.Empty<SelectListItem>(), $"{Labels.Select}...", new { @class = "form-control enable-collaborator-select2" })
        @Html.ValidationMessageFor(m => m.CollaboratorUid, "", new { @class = "text-danger" })
    </div>
</div>