@{
    ViewBag.Title = Labels.Contacts;
}
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-12 d-flex">
                @Html.Hidden("Page", ViewBag.Page as int?)
                @Html.Hidden("PageSize", ViewBag.PageSize as int?)
                @Html.TextBox("SearchKeywords", null, new { @class = "form-control mr-1", type = "search", placeholder = Labels.Search })
                <button type="button" class="btn btn-primary btn-icon" onclick="NetworksContacts.search();"><i class="fa fa-search"></i></button>
            </div>
        </div>        
    </div>
</div>
<div id="NetworksContactsListWidget" class="kt-grid__item kt-grid__item--fluid"></div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/networks.contacts.js")
    <script>
        jQuery(document).ready(function () {
            NetworksContacts.init();
            NetworksContactsListWidget.init();
        });
    </script>
}