<script type="text/ng-template" id="modalErrorSelectPlayer.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismiss()"> <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-danger">@Texts.NotPossibleToSaveSelection</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div data-alerta="" ng-model="vmModalErrorSelectPlayer.ErrosSavePlayerSelection" hidebtnclose="true"></div>
    </div>
</script>
