.odometer-gradient {
    font-family: Poppins !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 48px !important;
    line-height: 72px !important;
    letter-spacing: 0.1em !important;
    color: #FFFFFF !important;
}

.odometer-theme-car {
    background: linear-gradient(90deg, #DD5A38 0%, #D93272 100%) !important;
}

.odometer-digit, .odometer-digit-spacer {
    -webkit-box-shadow: none !important;
    background: none !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 48px !important;
    line-height: 72px !important;
    letter-spacing: 0.1em !important;
    color: #FFFFFF !important;
}