<div id="accommodation-popover-event-content" class="d-none">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="label-medium">@Labels.When</div>
            <span>popoverDate</span>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-medium">@Labels.Type</div>
                </div>
                <div class="col-md-9">
                    <span>@Labels.Accommodation</span>
                </div>
            </div>
        </div>
    </div>
</div>