@using PlataformaRio2C.Domain.Dtos
@model HorizontalTrackDto
@{
    ViewBag.Title = $"{Labels.Track}  {Model.GetNameByLanguageCode(ViewBag.UserInterfaceLanguage)}";
}
@Html.Hidden("AggregateId", Model.HorizontalTrack.Uid)
<div class="row">
    <div class="col-md-12">
        <!--begin:Main Information Widget-->
        <div class="row">
            <div class="col-12">
                <div id="HorizontalTrackMainInformationWidget" class="kt-portlet" style="min-height: 150px;"></div>
            </div>
        </div>
        <!--end:Main Information Widget-->
        <!--begin:Conferences Widget-->
        <div class="row">
            <div class="col-12">
                <div id="HorizontalTrackConferencesWidget" class="kt-portlet" style="min-height: 325px;"></div>
            </div>
        </div>
        <!--end:Conferences Widget-->
    </div>
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/horizontaltracks.details.js")
    <script>
        // Page translations ----------------------------------------------------------------------

        jQuery(document).ready(function () {
            HorizontalTracksMainInformationWidget.init();
            HorizontalTracksConferencesWidget.init();
        });
    </script>
}