<h4 class="mt-50 text-center font-weight-bold">
    RODADAS DE NEGÓCIOS |
    <span class="text-primary font-italic">
        ONE-TO-ONE MEETINGS
    </span>
</h4>
<!--begin:: General Rules-->
<p class="mt-50 font-weight-bold">
    REGULAMENTO |
    <span class="text-primary font-italic">
        REGULATIONS
    </span>
</p>
<ol class="text-justify">
    <!-- 1 -->
    <li class="mt-20">
        Somente Pessoa Jurídica (CNPJ) previamente credenciada no <strong>Rio2C 2025</strong>, na categoria INDUSTRY <strong>(“<u>Participante</u>”)</strong>
        poderá submeter seus projetos para as Rodadas de Negócios, <strong>no período de 03 a 21 de fevereiro de 2025</strong>.
        <span class="text-primary font-italic">
            / Only legal entities (CNPJ) previously accredited for Rio2C 2025 in the INDUSTRY category <strong>("<u>Participant</u>")</strong>
            may submit their projects for the Business Rounds <strong>from February 3 to 21, 2025</strong>.
        </span>
    </li>
    <!-- 2 -->
    <li class="mt-20">
        Cada CNPJ inscrito poderá inscrever até 3 (três) projetos no total.
        Cada um dos projetos inscritos poderá ser enviado para avaliação de até 5 (cinco) empresas inscritas nas Rodadas de Negócios (“Players”),
        a serem escolhidos pelo Participante. Caso o Participante opte pela inscrição de apenas 1 (um) único projeto, este poderá ser inscrito 3 vezes.
        Cada inscrição poderá ser enviada para avaliação de até 5 (cinco) Players diferentes.
        <span class="text-primary font-italic">
            / Each registered CNPJ may submit up to three (3) projects in total.
            Each of the submitted projects can be sent for evaluation by up to five (5) companies registered for the Business Rounds ("Players"),
            chosen by the Participant. If the Participant chooses to register only one (1) project, it can be submitted up to three times.
            Each submission can be sent for evaluation by up to five (5) different "Players".
        </span>
    </li>
    <!-- 3 -->
    <li class="mt-20">
        Todo Participante deve possuir a titularidade dos direitos de propriedade intelectual (incluindo tanto direitos autorais quanto de propriedade industrial)
        sobre os projetos inscritos por seus representantes para as Rodadas de Negócios do Rio2C,
        bem como todas as autorizações de terceiros com relação as obras eventualmente envolvidas no âmbito dos projetos.
        <span class="text-primary font-italic">
            / All Participants must hold the intellectual property rights (including both copyright and industrial property rights)
            for the projects submitted by their representatives to the Rio2C Business Rounds, as well as all third-party authorizations related to any works involved in the projects.
        </span>
    </li>
    <!-- 4 -->
    <li class="mt-20">
        <strong>Projetos com informações incompletas ou incorretas serão desconsiderados</strong>.
        <span class="text-primary font-italic">
            / Projects with incomplete or incorrect information will be disregarded.
        </span>
    </li>
    <!-- 5 -->
    <li class="mt-20">
        Só poderão participar das reuniões e acessar a área de Rodadas de Negócios, situada no Business Hall,
        os representantes de Participantes que estiverem devidamente credenciados na categoria INDUSTRY.
        <span class="text-primary font-italic">
            / Only representatives of Participants who are duly accredited in the INDUSTRY category will be able to participate
            in meetings and access the Business Rounds area, located in the Business Hall.
        </span>
    </li>
    <!-- 6 -->
    <li class="mt-20">
        As inscrições estão sujeitas à lotação do evento.
        <span class="text-primary font-italic">
            / Registrations are subject to event capacity.
        </span>
    </li>
    <!-- 7 -->
    <li class="mt-20">
        Datas divulgadas para a Rodada de Negócios são passíveis de alteração a exclusivo critério da organização do evento,
        podendo ser feita a qualquer momento, não implicando direito a indenização ou reclamação de qualquer natureza.
        <span class="text-primary font-italic">
            / The dates announced for the Business Rounds are subject to change at the sole discretion of the event's organizers and may be modified at any time,
            without entitling Participants to compensation or claims of any kind.
        </span>
    </li>
</ol>
<p class="mt-50 font-weight-bold">
    DA INSCRIÇÃO E SELEÇÃO DE PROJETOS |
    <span class="text-primary font-italic">
        PROJECT REGISTRATION AND SELECTION
    </span>
</p>
<ol class="text-justify">
    <!-- 1 -->
    <li class="mt-20">
        Todo projeto direcionado aos Players internacionais deverá obrigatoriamente estar em inglês. A tradução é de total responsabilidade do Participante.
        <span class="text-primary font-italic">
            / Any project directed to international Players must be in English. Translation is the sole responsibility of the Participant.
        </span>
    </li>
    <!-- 2-->
    <li class="mt-20">
        Após realizado o envio do projeto, o mesmo não poderá ser alterado.
        <span class="text-primary font-italic">
            / Once the project has been submitted, it cannot be altered.
        </span>
    </li>
    <!-- 3 -->
    <li class="mt-20">
        Ao clicar em “Enviar Projeto”, o responsável pela inscrição do projeto deverá concordar com o “Regulamento das Rodadas de Negócios”,
        onde afirma estar ciente de que poderá haver projetos semelhantes e isenta o <strong>Rio2C</strong> e os Players de qualquer responsabilidade com relação a projetos similares,
        excluindo o <strong>Rio2C</strong> e os Players de qualquer demanda judicial ou extrajudicial envolvendo a discussão de direitos sobre as ideias,
        temas e formatos apresentados nas Rodadas de Negócios do Rio2C.
        <span class="text-primary font-italic">
            / By clicking "Submit Project," the person responsible for submitting the project must agree to the "Business Rounds Regulations,"
            confirming their awareness that similar projects may exist and releasing <strong>Rio2C</strong> and the Players from any liability concerning similar projects,
            waiving any legal or extrajudicial claims involving the discussion of rights over ideas, themes, and formats presented in the <strong>Rio2C</strong> Business Rounds.
        </span>
    </li>
</ol>
<p class="mt-50 font-weight-bold">
    DA PARTICIPAÇÃO
    <span class="text-primary font-italic">
        | PARTICIPATION
    </span>
</p>
<ol class="text-justify">
    <!-- 1 -->
    <li class="mt-20">
        A <strong>agenda</strong> das Rodadas de Negócios do <strong>Rio2C</strong> estará disponível na plataforma online <strong>MyRio2C</strong>
        para os Participantes a <strong>partir do dia 3 de maio de 2025</strong>.
        Para conferir a agenda, o Participante deverá acessar a plataforma online <strong>MyRio2C</strong> com seu login e senha.
        As Rodadas ocorrem <strong>PRESENCIALMENTE</strong> no RIO2C entre os dias <strong>28 a 30 de maio de 2025</strong>.
        <strong>Os horários e datas definidos na agenda são prioritários e não podem ser alterados pelo Participante</strong>.
        <span class="text-primary font-italic">
            / The <strong>Rio2C</strong> Business Rounds schedule will be available on the MyRio2C online platform for Participants starting <strong>May 3, 2025</strong>.
            To access the schedule, Participants must log in to the <strong>MyRio2C</strong> platform using their username and password.
            The Business Rounds will take place in-person at Rio2C <strong>from May 28 to 30, 2025</strong>.
            <strong>The times and dates defined in the schedule are final and cannot be changed by the Participant</strong>.
        </span>
    </li>
    <!-- 2 -->
    <li class="mt-20">
        Para as <strong>reuniões</strong>, os representantes dos projetos aceitos e agendados
        <strong>devem realizar seu credenciamento ao menos 1 (uma) hora antes de sua primeira reunião agendada</strong>.
        É importante se identificar no <strong>balcão das Rodadas de Negócios ao menos 20 minutos antes de sua primeira reunião</strong>.
        Para as reuniões subsequentes o proponente deverá <strong>comparecer nas salas de Rodadas de Negócios 20 minutos antes de cada rodada</strong>.
        <span class="text-primary font-italic">
            / For meetings, the representatives of accepted and scheduled projects <strong>must check in at least one (1) hour before their first scheduled meeting</strong>.
            It is important to check in at the <strong>Business Rounds desk at least 20 minutes before the first meeting</strong>.
            For subsequent meetings, Participants <strong>should arrive at the Business Rounds rooms 20 minutes prior to each round</strong>.
        </span>
    </li>
    <!-- 3 -->
    <li class="mt-20">
        A apresentação de projetos para “Players” internacionais deve ser realizada no idioma do Player ou em inglês.
        <span class="text-primary font-italic">
            / The presentation of projects to international “Players” must be in the “Player”'s language or in English.
        </span>
    </li>
    <!-- 4 -->
    <li class="mt-20">
        Cada reunião individual terá a duração máxima de 20 minutos.
        <span class="text-primary font-italic">
            / Each individual meeting will last a maximum of 20 minutes.
        </span>
    </li>
    <!-- 5 -->
    <li class="mt-20">
        A inscrição dos projetos para as Rodadas de Negócios não <strong>garante a realização de reuniões</strong>,
        uma vez que os próprios Players selecionam os projetos adequados aos seus perfis e interesses.
        <strong><u>Dica importante</u></strong>: Faça uma seleção de players cuidadosa.
        Os Participantes devem pesquisar o perfil das empresas antes de realizar a seleção final dos Players.
        <span class="text-primary font-italic">
            / Registering projects for the Business Rounds <strong>does not guarantee meetings</strong>,
            as Players themselves select the projects that match their profiles and interests.
            <strong><u>Important tip</u></strong>: Make a careful selection of Players. Participants should research the profiles of companies before making their final Player selection.
        </span>
    </li>
    <!-- 6 -->
    <li class="mt-20">
        Para que o projeto seja habilitado à seleção do Pitching Industry e/ou do Pitching Creator,
        basta selecionar o item “Quero participar do Pitching Industry” e/ou “Quero participar do Pitching Creator” e a categoria de Pitching desejada,
        ao final do formulário. (ver regulamento do Pitching Industry e do Pitching Creator em nosso site).
        <span class="text-primary font-italic">
            / To qualify for Pitching Industry and/or Pitching Creator selection,
            simply check the "I want to participate in Pitching Industry" and/or "I want to participate in Pitching Creator" option and select the appropriate
            Pitching category at the end of the form. (See Pitching Industry and Pitching Creator regulations on our website).
        </span>
    </li>
    <!-- 7 -->
    <li class="mt-20">
        O participante autoriza o RIO CREATIVE CONFERENCES LTDA., sem quaisquer ônus e/ou encargos, a captar, fixar e utilizar a imagem, voz e interpretação relativos à sua participação nas
        Rodadas de Negócios, Pitchings, e no Rio2C nos meios, tecnologias e suportes materiais de livre escolha do RIO CREATIVE CONFERENCES LTDA.,
        para fins de utilização institucional, publicitária e/ou comercial, que destinar-se-ão a toda e qualquer modalidade de utilização existente prevista no art. 29 da Lei 9.610/98.
        A presente autorização será gratuita e ocorrerá pelo prazo de proteção autoral conferido pela Lei 9.610/98 à obra em que as imagens, vozes e interpretações artísticas que serão utilizadas.
        <span class="text-primary font-italic">
            / The Participant authorizes RIO CREATIVE CONFERENCES LTDA., without any charges and/or fees, to capture, record, and use the image, voice, and performance related to their
            participation in the Business Rounds, PItchings and Rio2C, using any means, technologies, and material formats of
            RIO CREATIVE CONFERENCES LTDA.'s choice for institutional, advertising, and/or commercial purposes.
            This authorization will cover any and all existing uses as provided by Article 29 of Law 9.610/98.
            This authorization will be granted free of charge and for the duration of copyright protection granted by Law 9.610/98 to the work in which the images, voices, and performances will be used.
        </span>
    </li>
    <!-- 8 -->
    <li class="mt-20">
        No ato da inscrição do projeto, o responsável por realizá-lo deverá fornecer ao Rio2C apenas dados
        pessoais que sejam necessários e pertinentes para o cadastramento e participação do Participante no Rio2C,
        ou para outras finalidades que possuam conexão com o evento. Ao fornecer esses dados, o responsável pela inscrição declara e garante,
        por si e por terceiros, estar ciente que os dados pessoais fornecidos serão tratados pelo Rio2C para as finalidades aqui mencionadas.
        A adesão ao presente Regulamento importa em um vínculo contratual entre o Participante e o Rio Creative Conferences,
        de modo que o tratamento de dados pessoais tem por fundamento o fato de ser necessário para a execução deste regulamento,
        nos termos do art. 7º, V da Lei Geral de Proteção de Dados Pessoais - LGPD (Lei Federal nº 13.709/2018).
        <span class="text-primary font-italic">
            / At the time of project registration, the responsible person must provide Rio2C with only the personal data necessary and relevant for the Participant's
            registration and participation in Rio2C, or for other purposes related to the event.
            By providing this data, the person responsible for the registration declares and guarantees, on their behalf and on behalf of third parties,
            that they are aware that the personal data provided will be processed by Rio2C for the purposes mentioned here.
            Adherence to these Regulations establishes a contractual relationship between the Participant and Rio Creative Conferences,
            so the processing of personal data is based on the necessity for executing these regulations, under Article 7, V of the General Data Protection Law (LGPD - Federal Law No. 13.709/2018).
        </span>
    </li>
    <!-- 9 -->
    <li class="mt-20">
        O Rio2C se compromete a cumprir toda a legislação aplicável sobre segurança da informação,
        privacidade e proteção de dados pessoais, incluindo, mas não se limitando à LGPD, ao Marco Civil da Internet (Lei Federal nº 12.965/2014),
        seu decreto regulamentador (Decreto nº 8.771/2016), e demais normas setoriais ou gerais sobre o tema.
        <span class="text-primary font-italic">
            / Rio2C commits to complying with all applicable laws on information security, privacy, and personal data protection,
            including but not limited to the LGPD, the Brazilian Internet Civil Rights Framework (Federal Law No. 12.965/2014),
            its regulatory decree (Decree No. 8.771/2016), and other relevant sectoral or general regulations.
        </span>
    </li>
    <!-- 10 -->
    <li class="mt-20">
        O Rio2C adota práticas razoáveis e usuais de mercado para garantir a proteção de dados pessoais por ele tratados.
        No entanto, nenhuma medida de segurança, técnica ou administrativa, é insuscetível de falha ou violação,
        de modo que o Rio2C não será responsável por quaisquer incidentes de segurança causados por atos ilícitos de terceiros,
        bem como por danos decorrentes de culpa exclusiva do próprio titular dos dados pessoais ou de terceiros.
        Incentivamos os Participantes a adotarem medidas apropriadas para se proteger, como, por exemplo,
        não compartilhar seus respectivos logins e senhas, mantendo-os em ambiente de acesso restrito e seguro.
        <span class="text-primary font-italic">
            / Rio2C adopts reasonable and standard market practices to ensure the protection of personal data it processes.
            However, no security measure, technical or administrative, is entirely immune to failure or breach,
            and thus Rio2C will not be liable for any security incidents caused by unlawful acts of third parties or for damages resulting
            from the sole fault of the personal data holder or third parties. We encourage Participants to adopt appropriate measures to protect themselves,
            such as not sharing their logins and passwords and keeping them in a restricted and secure environment.
        </span>
    </li>
    <!-- 11 -->
    <li class="mt-20">
        Este Regulamento encontra-se disponível para download no site do Rio2C,
        cujo endereço eletrônico é: <strong><u>www.rio2c.com</u></strong> As dúvidas decorrentes da interpretação deste
        Regulamento poderão ser esclarecidas, desde que enviadas para <strong><u>meetings@rio2c.com</u></strong>.
        <span class="text-primary font-italic">
            These Regulations are available for download on the Rio2C website, at: <strong><u>www.rio2c.com</u></strong>.
            Questions regarding the interpretation of these Regulations can be clarified by sending an email to <strong><u>meetings@rio2c.com</u></strong>.
        </span>
    </li>
</ol>
