 <!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        Copyright @DateTime.Now.Year © @Labels.PlatformRio2C.  @Labels.Development <a href="http://www.marlin.com.br" target="_blank">Marlin</a>.
        <a href="#" class="go-top">
            <i class="icon-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
