
@{
    ViewBag.Title = Labels.Welcome;
}

<div class="content">
    <h1 class="page-title">@ViewBag.Title</h1>
	<div class="news-message">
        @Html.Raw(Texts.WelcomeContent)       
        <hr />    
    </div>
</div>

 