@model PlataformaRio2C.Application.CQRS.Commands.CreateLogisticTransfer
<div class="modal fade" id="CreateLogisticTransferModal" role="dialog" aria-labelledby="CreateLogisticTransferModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(Labels.Create + " " + Labels.LogisticsTransfer)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateTransfer", "Requests", new { Area = "Logistics" }, FormMethod.Post, new { id = "CreateLogisticTransferForm" }))
                {
                    <div id="form-container">
                        @Html.Partial("Modals/_TransferForm", Model)
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#CreateLogisticTransferForm').submit();">@Labels.Save</button>
            </div>
        </div>
    </div>
</div>