@model string
<h3 class="kt-heading kt-heading--sm mb-0 mt-0">Instagram</h3>
<div class="row mt-3">
    <div class="col-12">
        @if (!string.IsNullOrEmpty(Model))
        {
            <a href="@Model.GetInstagramUrl()" class="btn btn-icon btn-circle btn-label-instagram" target="_blank">
                <i class="socicon-instagram"></i>
            </a>
            <a href="@Model.GetInstagramUrl()" target="_blank">@Model</a>
        }
        else
        {
            @:-
        }
    </div>
</div>