@model string
<h3 class="kt-heading kt-heading--sm mb-0 mt-0">LinkedIn</h3>
<div class="row mt-3">
    <div class="col-12">
        @if (!string.IsNullOrEmpty(Model))
        {
            <a href="@Model.GetLinkedinUrl()" class="btn btn-icon btn-circle btn-label-linkedin" target="_blank">
                <i class="socicon-linkedin"></i>
            </a>
            <a href="@Model.GetLinkedinUrl()" target="_blank">@Model</a>
        }
        else
        {
            @:-
        }
    </div>
</div>