@{
    ViewBag.Title = Labels.OneToOneMeetings + " | " + Labels.GenerateCalendar;
}
<!--begin:: Quick Stats-->
<div class="row">
    <!--begin:: Edition Scheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionScheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Scheduled Count Widget-->
    <!--begin:: Edition Not Scheduled Count Widget-->
    <div class="col-sm-6">
        <div id="AudiovisualMeetingsEditionNotScheduledCountWidget" class="kt-portlet kt-portlet--fit kt-portlet--head-noborder" style="min-height: 230px;"></div>
    </div>
    <!--end:: Edition Not Scheduled Count Widget-->
</div>
<!--end:: Quick Stats-->
<div class="row">
    <!--begin:: Scheduled Meetings Widget-->
    <div class="col-12">
        <div id="AudiovisualMeetingsScheduledWidget" class="" style="min-height: 500px;"></div>
    </div>
    <!--end:: Scheduled Meetings Widget-->
</div>
@section Styles {
}
@section Scripts {
    @Scripts.Render("~/bundles/js/chart.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.scheduled.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionscheduledcount.widget.js")
    @Scripts.Render("~/bundles/js/audiovisual.meetings.editionnotscheduledcount.widget.js")
    <script>
        // Page translations ----------------------------------------------------------------------
        var translations = {
        };

        // Pagination -----------------------------------------------------------------------------
        jQuery(document).ready(function () {
            AudiovisualMeetingsEditionScheduledCountWidget.init();
            AudiovisualMeetingsEditionNotScheduledCountWidget.init();
            AudiovisualMeetingsScheduledWidget.init();
        });
    </script>
}