@*<div class="login-body" style="">*@

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-center">Atenção!</h4>
            </div>

            <div class="modal-body">
                <p>
                    Tem certeza que deseja excluir <span id="modalDeleteDesc"></span>?
                </p>
            </div>

            <div class="modal-footer ">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <a href="#" id="btn-trigger-delete" class="btn btn-success button-confirm">Confirmar</a>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
@*</div>*@
