@model int
<div class="kt-portlet__body kt-portlet__body--fluid">
    <div class="kt-widget20">
        <div class="kt-widget20__content kt-portlet__space-x">
            <span class="kt-widget20__number kt-font-brand">@Model</span>
            <span class="kt-widget20__desc">@Labels.PresentationFormats @Labels.RegisteredP</span>
        </div>
        <div class="kt-widget20__chart" style="height:130px;">
            <canvas id="PresentationFormatsTotalCountChart"></canvas>
        </div>
    </div>
</div>