@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = string.Format(Labels.Welcome, (ViewBag.EditionDto as EditionDto)?.UrlCode);
}
<div class="row">
    <!--begin:Middle column-->
    <div class="col-md-12">
        <!--begin:Welcome -->
        @*<div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget3">
                        @Html.Raw(Texts.WelcomeContent)

                    </div>
                </div>
            </div>*@
        <!--end:Welcome -->
    </div>
    <!--end:Middle column-->
    <!--begin:Right column-->
    <div class="col-md-12">
        <!--begin:Projects-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Rio2C 2020
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body text-center">
                <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/DEmAn2QqkT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
        </div>
        <!--end:Projects-->
    </div>
    <!--end:Right column-->
</div>