@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = string.Format(Labels.Welcome, (ViewBag.EditionDto as EditionDto)?.UrlCode);
}
<div class="row">
    <div class="col-md-12">
        <!--begin:We Connected-->
        @Html.Partial("Widgets/WeConnectedWidget")
        <!--end:We Connected-->
        @*
        <!--begin:Welcome -->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget3">
                    @Html.Raw(Texts.WelcomeContent)

                </div>
            </div>
        </div>
        <!--end:Welcome -->
        *@
    </div>
</div>