@using PlataformaRio2C.Domain.Dtos
@{
    ViewBag.Title = string.Format(Labels.Welcome, (ViewBag.EditionDto as EditionDto)?.UrlCode);
}
<div class="row">
    <!--begin:Left panel-->
    <div class="col-md-4 col-lg-4">
        @{ Html.RenderPartial("Shared/_DashboardMenu"); }
    </div>
    <!--end:Left panel-->
    <div class="col-md-8 col-lg-8">
        <!--begin:We Connected-->
        @Html.Partial("Widgets/WeConnectedWidget")
        <!--end:We Connected-->
        @*
            <!--begin:Welcome -->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget3">
                        @Html.Raw(Texts.WelcomeContent)

                    </div>
                </div>
            </div>
            <!--end:Welcome -->
        *@
    </div>
</div>
@section Styles {
}
@section Scripts {
    <script>
        jQuery(document).ready(function () {
            @if (ViewBag.ShowEmailSettings == true)
            {
                <text>AccountsEmailSettings.showUpdateModal();</text>
            }
        });
    </script>
}